<header>
  <h3>Pricing</h3>
</header>

<div class="row" style="width:100%">
  <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <div class="db-wrapper">
      <div class="db-pricing-nine">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th colspan="2">
                  Charges
                </th>
                <th class="db-bk-color-one">Silver</th>
                <th class="db-bk-color-two">Gold</th>
                <th class="db-bk-color-three">Platinum</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="db-width-perticular" rowspan="3">
                  Subscription fee
                </td>
                <td>Joining fee discounted</td>
                <td>10000</td>
                <td>15000</td>
                <td>20000</td>
              </tr>
              <tr>
                <td class="db-width-perticular">Charges</td>
                <td>3060</td>
                <td>4860</td>
                <td>9180</td>
              </tr>
              <tr>
                <td class="db-width-perticular">Duration</td>
                <td>12 Months</td>
                <td>12 Months</td>
                <td>12 Months</td>
              </tr>
              <tr>
                <td class="db-width-perticular">On call Customer Support*</td>
                <td></td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td class="db-width-perticular">Partner Badge</td>
                <td>Signature badge for email, social media and website</td>
                <td>NO</td>
                <td>NO</td>
                <td>YES</td>
              </tr>
              <tr>
                <td class="db-width-perticular">Profile Booster</td>
                <td>I am online badge</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td class="db-width-perticular" rowspan="6">
                  Mailers to targeted audience
                </td>
                <td>App installs</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Followers</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Awarness</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Website Click</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Video promotion</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Engagement</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td class="db-width-perticular" rowspan="6">
                  Messages to targeted audience
                </td>
                <td>App installs</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Followers</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Awarness</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Website Click</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Video promotion</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Engagement</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td class="db-width-perticular" rowspan="4">Website</td>
                <td>Micro Website www.kriger.in/YOUR_NAME</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>SEO Boost</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Post boost</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>4 Keywords for Delhi NCR</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td class="db-width-perticular" rowspan="13">
                  Marketplace/ Transaction cut
                </td>
                <td>Post Unlimited Products</td>
                <td>NO</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Pay for per listing 4 listings free</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Pay per lead</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Booster for listing</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Books</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Notes</td>
                <td>YES</td>
                <td>YES</td>
                <td>NO CUT</td>
              </tr>
              <tr>
                <td>Sessions</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Admission</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Internship</td>
                <td>YES</td>
                <td>YES</td>
                <td>NO CUT</td>
              </tr>
              <tr>
                <td>Jobs</td>
                <td>YES</td>
                <td>YES</td>
                <td>NO CUT</td>
              </tr>
              <tr>
                <td>Scholarship</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Admission tests</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Counselling</td>
                <td>YES</td>
                <td>YES</td>
                <td>NO CUT</td>
              </tr>
              <tr>
                <td class="db-width-perticular" rowspan="10">In app Ads</td>
                <td>Photo</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Video</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Carousel</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Stories</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Slideshows</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Collections</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Playables</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>In app notification</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>In app pic notification</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
              <tr>
                <td>Feature in user campaigns</td>
                <td>YES</td>
                <td>YES</td>
                <td>YES</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
