<div class="header">Visit Us</div>
<div class="address_container">
  <div class="address">
    <div class="flag-text">
      <img src="assets/images/icons/india.png" alt="" />
      <span>INDIA</span>
    </div>
    <p>
      A-82/4, 1st Floor, Rd Number 1, Block B, Mahipalpur Extension, Mahipalpur,
      New Delhi, Delhi 110037
    </p>
  </div>
  <div class="address">
    <div class="flag-text">
      <img src="assets/images/icons/colombia.png" alt="" />
      <span>COLOMBIA</span>
    </div>
    <p>WTC, Calle 100 # 8A - 55, Piso 10, Torre C, Bogotá, Colombia</p>
  </div>
  <div class="address">
    <div class="flag-text">
      <img src="assets/images/icons/united-arab-emirates.png" alt="" />
      <span>UAE</span>
    </div>
    <p>4th interchange Sheikh Zayed Road, CBD Building. Dubai, UAE</p>
  </div>
  <div class="address">
    <div class="flag-text">
      <img src="assets/images/icons/usa.png" alt="" />
      <span>USA</span>
    </div>
    <p>
      600, II Floor, Lower Manhattan, New York City, NY 10016, United States
    </p>
  </div>
</div>
