<div
  class="post-list__container"
  infinite-scroll
  (scrolled)="nextBatch()"
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="2000"
  [infiniteScrollDisabled]="infiniteDisable"
>
  <!-- <app-create-post *ngIf="isLoggedIn$ | async"></app-create-post>
  <hr style="width: 100%; margin-bottom:1em;" /> -->
  <!-- <p>{{ post$ | json }}</p> -->
  <app-post *ngFor="let post of post$ | async" [post]="post"> </app-post>
  <mat-spinner diameter="50" *ngIf="loading$ | async"></mat-spinner>
</div>
<div class="load__btn">
  <button
    mat-stroked-button
    (click)="resetInfinite()"
    *ngIf="infiniteDisable && !isEmpty && !isComplete"
  >
    Load More Posts
  </button>
</div>

<app-adbanner
  class="ad left"
  imgSrc="../../../../assets/images/ad/AD1.png"
  adLink="https://hbr.org/subscribe"
>
</app-adbanner>
<app-adbanner
  class="ad right"
  imgSrc="../../../../assets/images/ad/AD2.png"
  adLink="https://nest.lpu.in/main.aspx"
>
</app-adbanner>

<app-scroll-top></app-scroll-top>
