.post-list__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
}

mat-spinner {
  position: fixed;
  top: 40vh;
  left: 45vw;
  z-index: 2;
}

.ad {
  margin: 0 auto;
  position: fixed;
  top: 100px;
}

.ad.right {
  right: 0;
  margin-right: 1em;
}

.ad.left {
  left: 0;
  margin-left: 1em;
}

.post-list__container app-post {
  width: 550px;
}

.post-list__container app-post,
.post-list__container .load__btn {
  grid-column: 2/3;
  justify-self: center;
}

.post-list__container .load__btn {
  display: flex;
}

.post-list__container .load__btn button {
  margin: 1em auto;
}

.load__btn button {
  background-color: #1a1a96;
  color: white;
}
