<div
  class="post-list__container"
  infinite-scroll
  (scrolled)="nextBatch2()"
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="5000"
  [infiniteScrollDisabled]="infiniteDisable"
>
  <app-post *ngFor="let post of posts2 | async" [post]="post"> </app-post>
  <mat-spinner *ngIf="loading"></mat-spinner>

  <div class="load__btn">
    <button
      mat-stroked-button
      (click)="resetInfinite()"
      *ngIf="infiniteDisable"
    >
      Load More Posts
    </button>
  </div>
</div>

<app-adbanner
  class="ad left"
  imgSrc="../../../../assets/images/ad/AD1.png"
  adLink="https://hbr.org/subscribe"
>
</app-adbanner>
<app-adbanner
  class="ad right"
  imgSrc="../../../../assets/images/ad/AD2.png"
  adLink="https://nest.lpu.in/main.aspx"
>
</app-adbanner>

<app-scroll-top></app-scroll-top>
