.post-list__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: auto;
}

.post-list__container app-post,
.post-list__container .load__btn {
  grid-column: 2/3;
}
