.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 0;
  word-break: break-word;
}

.content .title {
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.8rem;
}

#intro__connect {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
