<div class="website__container">
  <h3>Website Developer</h3>
  <!-- <div class="aboutus">
    <p class="title">About us</p>
    <p class="content">
      Kriger Campus - We are India's first and biggest Education Network, Join
      us today to have a good and prosperous career ahead. Apply if you like
      challenges and want to solve them.
    </p>
  </div> -->
  <div class="role">
    <p class="title">Role</p>
    <p class="content">
      We are looking for an Website(Angular) Developer to join our team who
      shares our passion to create a seamless product verification platform for
      consumers. If you love thinking big and delving deep and enjoy envisioning
      truly elegant solutions, this role is definitely for you.
    </p>
  </div>
  <div class="experience">
    <p class="title">Experience</p>
    <p class="content">Minimum 1 Year</p>
  </div>
  <div class="responsibilities">
    <p class="title">What you will be Doing</p>
    <ul>
      <li>
        Create intuitive interfaces with great functionality in a timely manner.
      </li>
      <li>
        Create mobile friendly web pages that work across devices.
      </li>
      <li>
        Create well-written JavaScript, as well as expand the current JavaScript
        code.
      </li>
      <li>
        Create and maintain web forms that integrate with our CRM.
      </li>
      <li>
        Assist with API integration for dynamic email/web prospect and customer
        communications.
      </li>
      <li>
        Translate designs and style guides provided by the UI/UX team into
        functional user interfaces, while ensuring cross-browser compatibility
        and performance.
      </li>
      <li>
        Create functional pages and banners from design mock-ups.
      </li>
      <li>
        Test the code across platforms and browsers.
      </li>
      <li>
        Document the work and communicate any issues as and when they arise.
      </li>
      <li>
        Assist in troubleshooting any production issues.
      </li>
    </ul>
  </div>
  <div class="requirements">
    <p class="title">What you need to know</p>
    <ul>
      <li>
        Prior 1+ years of experience in front-end development in a start-up or a
        dynamic work environment.
      </li>
      <li>
        Minimum 1 year of experience using Front End frameworks such as Angular
        2.0/ Angular JS.
      </li>
      <li>
        Knowledge of web standards and accessibility (W3C and s508).
      </li>
      <li>
        Ability to create production-quality CSS, SASS, and HTML for web
        applications with support for mobile and tablet devices.
      </li>
      <li>
        Good understanding of web-based application architecture.
      </li>
      <li>
        Designing/coding to overcome browser/platform constraints.
      </li>
      <li>
        Excellent problem-solving skills and knowledge of JavaScript.
      </li>
      <li>
        Able to collaborate effectively with both technical and non-technical
        colleagues.
      </li>
      <li>
        Deadline oriented and able to multi-task in a fast paced environment.
      </li>
    </ul>
  </div>
  <a
    class="apply"
    mat-stroked-button
    href="https://forms.gle/PSFhTcfq8bGHdLiz8"
    target="_blank"
    >Apply</a
  >
</div>
<app-footer-new class="footer_grey"></app-footer-new>
