<div
  class="connections-list__container"
  infinite-scroll
  (scrolled)="nextBatch()"
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="1000"
  [infiniteScrollDisabled]="infiniteDisable"
>
  <h3>Connections</h3>
  <app-connection-user
    *ngFor="let user of connections$ | async"
    [user]="user"
  ></app-connection-user>

  <div class="connections-error" *ngIf="error">
    Something went wrong!
  </div>

  <div class="connections-placeholder" *ngIf="isEmpty">
    You have 0 connections!
  </div>

  <div class="connections-complete" *ngIf="isComplete">
    <b>You're all caught up!</b>
  </div>

  <div class="loading-spinner" *ngIf="loading$ | async">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <!-- <div class="load__btn">
    <button
      mat-stroked-button
      (click)="nextBatch()"
      *ngIf="!isEmpty && !isComplete"
    >
      Load More Connections
    </button>
  </div> -->
</div>
