<div class="footer_container">
  <div id="follow">
    <p class="heading">Follow Us</p>
    <div class="links">
      <a
        href="https://www.facebook.com/Krigercampus/"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="assets/images/icons/facebook.png" alt=""
      /></a>
      <a
        href="https://www.instagram.com/krigercampus"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="assets/images/icons/instagram.png" alt=""
      /></a>
      <a
        href="https://www.linkedin.com/company/kriger-campus/"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="assets/images/icons/linkedin.png" alt=""
      /></a>
      <a
        href="https://twitter.com/krigercampus"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="assets/images/icons/twitter.png" alt=""
      /></a>
    </div>
  </div>
  <div id="company">
    <p class="heading">Company</p>
    <div class="links">
      <a href="/about-us" [routerLink]="['/about-us']">About Us</a>
      <a href="/careers" [routerLink]="['/careers']">We are Hiring</a>
      <a href="/internships" [routerLink]="['/internships']">Internships</a>
      <a href="/media-coverage" [routerLink]="['/media-coverage']"
        >Media Coverage</a
      >
    </div>
  </div>
  <div id="legal">
    <p class="heading">Legal</p>
    <div class="links">
      <a href="/term-conditions" [routerLink]="['/term-conditions']"
        >Terms and Conditions</a
      >
      <a href="/privacy-policy" [routerLink]="['/privacy-policy']"
        >Privacy Policy</a
      >
    </div>
  </div>
  <div id="contact">
    <p class="heading">Contact Us</p>
    <div class="links">
      
      <a href="mailto:official@kriger.in"
        ><img src="assets/images/icons/gmail.svg" alt=""
      /></a>
      <a href="/contact-us" [routerLink]="['/contact-us']"
        >Contact Details</a
      >
      <a
        href="https://wa.me/918839912611"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="assets/images/icons/whatsapp.svg" alt=""
      /></a>
    </div>
  </div>

  <div id="visit">
    <p class="heading">Visit Us</p>
    <div class="links">
      <a href="/visit-us" [routerLink]="['/visit-us']"
        ><img src="assets/images/icons/india.png" alt="" /><span>India</span></a
      >
      <a href="/visit-us" [routerLink]="['/visit-us']"
        ><img src="assets/images/icons/colombia.png" alt="" /><span
          >Colombia</span
        ></a
      >
      <a href="/visit-us" [routerLink]="['/visit-us']"
        ><img src="assets/images/icons/united-arab-emirates.png" alt="" /><span
          >UAE</span
        ></a
      >
      <a href="/visit-us" [routerLink]="['/visit-us']"
        ><img src="assets/images/icons/usa.png" alt="" /><span>USA</span></a
      >
    </div>
  </div>
</div>
