<h2 class="tagline">
  Connecting Educators and Learners to make India 100% Literate
</h2>

<div class="educators">
  <h2>Educators</h2>
  <div class="educators__list">
    <span>Teacher</span>
    <span>Tutor</span>
    <span>Subject Expert</span>
    <span>Professor</span>
    <span>Lecturer</span>
    <span>Faculty</span>
    <span>Corporate trainer</span>
    <span>Soft Skill Trainer</span>
    <span>Author</span>
  </div>
</div>

<div class="steps educator">
  <h2>Teach and Earn</h2>
  <div>
    <span><span class="counter">1</span><span>Sign UP</span></span>
    <span
      ><span class="counter">2</span
      ><span>List Exams and Subjects you teach</span></span
    >
    <span><span class="counter">3</span><span>Grow your network</span></span>
    <span><span class="counter">4</span><span>Receive Enquiries</span></span>
    <span><span class="counter">5</span><span>Teach and Earn</span></span>
  </div>
</div>

<div class="learners">
  <h2>Learners</h2>
  <div class="learners__list">
    <span>Students</span>
    <span>Aspirants</span>
    <span>Scholars</span>
    <span>Parents</span>
    <span>Academicians</span>
    <span>Professionals</span>
  </div>
</div>

<div class="steps learner">
  <h2>Connect and Learn</h2>
  <div>
    <span><span class="counter">1</span><span>Sign UP</span></span>
    <span><span class="counter">2</span><span>Fill your profile</span></span>
    <span
      ><span class="counter">3</span
      ><span>Add Subjects you're preparing for</span></span
    >
    <span
      ><span class="counter">4</span
      ><span>Add Exams you're preparing for</span></span
    >
    <span
      ><span class="counter">5</span><span>Connect with Educators</span></span
    >
    <span><span class="counter">5</span><span>Learn on the go</span></span>
  </div>
</div>
