<div class="logo">
  <img
    src="../../../assets/images/nav_logo.png"
    alt=""
    width="150"
    height="150"
  />
</div>
<p class="inspiration">
  The future of our country rests on our ability to successfully educate the
  next generation.
</p>

<h2 class="tagline">
  Connecting Educators and Learners to make India 100% Literate
</h2>

<div class="educators">
  <h2>Educators</h2>
  <div class="educators__list">
    <span>Teacher</span>
    <span>Tutor</span>
    <span>Subject Expert</span>
    <span>Professor</span>
    <span>Lecturer</span>
    <span>Faculty</span>
    <span>Corporate trainer</span>
    <span>Soft Skill Trainer</span>
    <span>Author</span>
  </div>
</div>

<div class="steps educator">
  <h2>Teach and Earn</h2>
  <div>
    <span><span class="counter">1</span><span>Sign UP</span></span>
    <span
      ><span class="counter">2</span
      ><span>List Exams and Subjects you teach</span></span
    >
    <span><span class="counter">3</span><span>Grow your network</span></span>
    <span><span class="counter">4</span><span>Receive Enquiries</span></span>
    <span><span class="counter">5</span><span>Teach and Earn</span></span>
  </div>
</div>

<div class="learners">
  <h2>Learners</h2>
  <div class="learners__list">
    <span>Students</span>
    <span>Aspirants</span>
    <span>Scholars</span>
    <span>Parents</span>
    <span>Academicians</span>
    <span>Professionals</span>
  </div>
</div>

<div class="steps learner">
  <h2>Connect and Learn</h2>
  <div>
    <span><span class="counter">1</span><span>Sign UP</span></span>
    <span><span class="counter">2</span><span>Fill your profile</span></span>
    <span
      ><span class="counter">3</span
      ><span>Add Subjects and Exams you're preparing for</span></span
    >

    <span
      ><span class="counter">4</span><span>Connect with Educators</span></span
    >
    <span><span class="counter">5</span><span>Learn on the go</span></span>
  </div>
</div>

<div class="partners">
  <h2 class="heading">Our Partners</h2>
  <div class="images">
    <img [src]="partner.url" *ngFor="let partner of partnerImages" />
  </div>
</div>

<div class="featured">
  <h2 class="heading">Featured In</h2>
  <div class="images">
    <img [src]="featured.url" *ngFor="let featured of featuredImages" />
  </div>
</div>

<div class="awards">
  <h2 class="heading">Awarded At</h2>
  <div class="images">
    <img [src]="award.url" *ngFor="let award of awardImages" />
  </div>
</div>

<div class="contact">
  <h2 class="heading">Contact us</h2>
  <app-contact></app-contact>
</div>
<div class="download">
  <a
    href="https://play.google.com/store/apps/details?id=in.kriger.krigercampus"
    target="_blank"
    rel="noopener"
    ><img src="/assets/images/play_store.png" width="300" height="100"/><img
  /></a>
</div>
