<div class="footer_container">
  <div id="company">
    <p class="heading">Company</p>
    <div class="links">
      <a href="/our-team">Our Team</a>
      <a href="/careers">We are Hiring</a>
      <a href="/internships">Internships</a>
      <a href="/media-coverage">Media Coverage</a>
    </div>
  </div>
  <div id="follow">
    <p class="heading">Follow Us</p>
    <div class="links">
      <a href="/our-team">Facebook</a>
      <a href="/careers">Instagram</a>
      <a href="/internships">LinkedIn</a>
      <a href="/media-coverage">Twitter</a>
    </div>
  </div>
  <div id="legal">
    <p class="heading">Legal</p>
    <div class="links">
      <a href="">User Agreement</a>
    </div>
  </div>
  <div id="contact">
    <p class="heading">Contact Us</p>
    <div class="links">
      <a href="">Email</a>
      <a href="">WhatsApp</a>
    </div>
  </div>
  <div id="visit">
    <p class="heading">Visit Us</p>
    <div class="links">
      <a href="/visit-us" [routerLink]="['/visit-us']"
        ><img src="assets/images/icons/india.png" alt=""
      /></a>
      <a href="/visit-us" [routerLink]="['/visit-us']"
        ><img src="assets/images/icons/colombia.png" alt=""
      /></a>
      <a href="/visit-us" [routerLink]="['/visit-us']"
        ><img src="assets/images/icons/united-arab-emirates.png" alt=""
      /></a>
      <a href="/visit-us" [routerLink]="['/visit-us']"
        ><img src="assets/images/icons/usa.png" alt=""
      /></a>
    </div>
  </div>
</div>
