.resource-extended__container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 600px;
  grid-gap: 1rem;
  background-color: var(--bg-grey);
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.resource-extended {
  box-shadow: var(--primary-box-shadow);
  background-color: white;
}

@media screen and (max-width: 700px) {
  .resource-extended__container {
    grid-template-columns: 90vw;
  }
}
