<div class="internships__container">
  <div class="internships__header">
    <h3>Internships</h3>
    <mat-chip-list>
      <mat-chip>User Engagement</mat-chip>
      <mat-chip>Data Analytics</mat-chip>
      <mat-chip>Community Building</mat-chip>
      <mat-chip>UI/UX</mat-chip>
      <mat-chip>Android</mat-chip>
      <mat-chip>iOS</mat-chip>
      <mat-chip>Marketing</mat-chip>
      <mat-chip>Business Development</mat-chip>
      <mat-chip>Social Media Marketing</mat-chip>
      <mat-chip>PR</mat-chip>
    </mat-chip-list>
    <app-newsletter-form></app-newsletter-form>
    <a
      href="https://internshala.com/internships/internship-at-Kriger%20Group"
      target="_blank"
      rel="noopener"
    >
      <span
        ><p>
          Click here to check upcoming Internships
        </p></span
      >
    </a>
    <app-contact></app-contact>
  </div>
  <div class="internships__performers">
    <h3>Star Performers</h3>
    <app-performers></app-performers>
    <app-interns></app-interns>
  </div>
</div>

<app-scroll-top></app-scroll-top>
