<div class="internships__container">
  <div class="internships__header">
    <h3>Internships</h3>
    <a
      href="https://internshala.com/internships/internship-at-Kriger%20Group"
      target="_blank"
      rel="noopener"
    >
      <span
        ><strong>
          Click here to check Upcoming Internship
        </strong></span
      >
    </a>
    <app-contact></app-contact>
  </div>
  <div class="internships__performers">
    <h3>Star Performers</h3>
    <app-performers></app-performers>
    <app-interns></app-interns>
  </div>
</div>

<app-scroll-top></app-scroll-top>
