<h4 mat-dialog-title>Build your network before you need it</h4>
<mat-dialog-content>
  <section>
    <p class="question">Why should I connect?</p>
    <p class="title">To Create Opportunities :</p>
    <p class="text">
      You never know who can present you with the next opportunity. Connect with
      people who can help you in achieving your next education goal.
    </p>

    <p class="title">To gather info :</p>
    <p class="text">Connect to gather information about exams, colleges etc.</p>
  </section>

  <section>
    <p class="question">Whom should I connect with?</p>
    <p class="text">
      Connect with other Krigers who can add value to your education plan. Take
      the time to find common ground based on your profiles and consider how you
      can bring reciprocal value.
    </p>

    <p class="title">Search Profile :</p>
    <p class="text">
      Search for profiles based on your requirements and connect with only the
      required profiles. Do not connect with every profile you see.
    </p>

    <p class="title">To Find Your Tribe :</p>
    <p class="text">
      Finding others who share your education interests is a great way to build
      your professional community.
    </p>
  </section>

  <section>
    <p class="question">
      How should I connect with other Krigers?
    </p>
    <p class="text">
      It is the best education networking tool available today, and it is
      absolutely free. Dedicate real time and effort to make the most of your
      connections, and you will establish worthwhile long-term relationships.
      Don’t SPAM with connection requests. Do treat your profile as your
      professional brochure. Use an appropriate-looking profile image and put in
      complete and up-to-date information. This will be your first impression
      for many.
    </p>
  </section>
</mat-dialog-content>
