<mat-card class="post-card" *ngIf="post">
  <mat-card-header>
    <div
      mat-card-avatar
      class="post-header-image"
      [ngStyle]="{
        'background-image': 'url(' + (post.userdetail | async)?.thumb + ')'
      }"
    ></div>
    <mat-card-title>{{ (post.userdetail | async)?.name }}</mat-card-title>
    <mat-card-subtitle>
      {{ (post.userdetail | async)?.headline }}
      <br />
      {{ post.timestamp.substring(0, 8) | amDateFormat: 'LL' }}
      <br />
      {{ post.key }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p
      [innerHTML]="
        post.text | linky: { truncate: { length: 32, location: 'end' } }
      "
    ></p>
    <!-- <span>...see more</span> -->
  </mat-card-content>
  <img
    *ngIf="post.image_url"
    mat-card-image
    src="{{ post.image_url }}"
    alt=""
  />
  <mat-card-subtitle>
    <span> {{ (post.counter | async)?.count_views || 0 }} Views </span>
    <span> {{ (post.counter | async)?.count_likes || 0 }} Likes </span>
    <span> {{ (post.counter | async)?.count_comments || 0 }} Comments </span>
  </mat-card-subtitle>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
