<!-- <mat-toolbar class="navbar">
  <div class="container">
    <div class="nav__logo">Kriger Campus</div>
    <div class="nav__search">
      <mat-form-field>
        <input class="search" matInput placeholder="Search.." />
      </mat-form-field>
      <button mat-stroked-button>Search</button>
    </div>
    <ul>
      <li><a id="post_btn" mat-stroked-button href="#">Posts</a></li>
      <li><a id="profiles_btn" mat-stroked-button href="#">Profiles</a></li>
      <li><a id="post_btn" mat-stroked-button href="#">Our Team</a></li>
      <li><a id="post_btn" mat-stroked-button href="#">Careers</a></li>
      <li><a id="post_btn" mat-stroked-button href="#">Internships</a></li>
      <li><a id="post_btn" mat-stroked-button href="#">Let's connect</a></li>
      <li>
        <a href="#"
          ><img
            height="40"
            src="/assets/images/play_store.png"
            width="120"
            style="position: relative; bottom: -4px; top: 3px; left: 0px;"
          />
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar> -->

<div class="nav__container">
  <div class="nav__logo">
    <a href="#"
      ><img src="/assets/images/nav_logo.png" /><img />Kriger Campus</a
    >
  </div>
  <div class="nav__search">
    <input type="text" placeholder="Search for posts/profiles" />
    <button mat-stroked-button>Search</button>
  </div>
  <nav>
    <ul>
      <li>
        <mat-icon>ballot</mat-icon>
        <a href="#">Posts</a>
      </li>
      <li>
        <mat-icon>account_box</mat-icon>
        <a href="#"> Profiles</a>
      </li>
      <li>
        <mat-icon>supervisor_account</mat-icon>
        <a href="#"> Our Team</a>
      </li>
      <li>
        <mat-icon>work</mat-icon>
        <a href="#"> Careers</a>
      </li>
      <li>
        <mat-icon>work_outline</mat-icon>
        <a href="#"> Internships</a>
      </li>
      <li>
        <mat-icon>ballot</mat-icon>
        <a href="#"> Let's Connect</a>
      </li>
      <li>
        <a href="#"><img src="/assets/images/play_store.png"/><img /></a>
      </li>
    </ul>
  </nav>
</div>
