<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['/']"
    ><img src="/assets/images/nav_logo.png" /><span class="name"
      >Kriger Campus</span
    ><span class="beta">Beta</span></a
  >
  <button
    class="navbar-toggler hidden-sm-up"
    type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault"
    aria-controls="navbarsDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [ngbCollapse]="isNavbarCollapsed"
    class="collapse navbar-collapse"
    id="navbarsDefault"
  >
    <ul class="navbar-nav ml-auto h-100">
      <a
        *ngIf="isLoggedInObservable | async"
        class="nav-item d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
        [routerLink]="['/posts']"
        href="/posts"
        routerLinkActive="nav-link-active"
        (click)="!isNavbarCollapsed ? (isNavbarCollapsed = true) : false"
      >
        <mat-icon>ballot</mat-icon>
        <span>Posts</span>
      </a>
      <a
        *ngIf="isLoggedInObservable | async"
        class="nav-item d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
        [routerLink]="['/profiles']"
        href="/profiles"
        routerLinkActive="nav-link-active"
        (click)="!isNavbarCollapsed ? (isNavbarCollapsed = true) : false"
      >
        <mat-icon>account_box</mat-icon>
        <span>Profiles</span>
      </a>

      <a
        *ngIf="!(isLoggedInObservable | async)"
        id="signup"
        class="nav-item d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
        [routerLink]="['/register']"
        href="/register"
        routerLinkActive="nav-link-active"
        (click)="!isNavbarCollapsed ? (isNavbarCollapsed = true) : false"
      >
        <mat-icon
          class="text-center"
          fontSet="fas"
          fontIcon="fa-user"
        ></mat-icon>
        <span>Register</span>
      </a>
      <a
        *ngIf="!(isLoggedInObservable | async)"
        id="login"
        class="nav-item d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
        [routerLink]="['/login']"
        href="/login"
        routerLinkActive="nav-link-active"
        (click)="!isNavbarCollapsed ? (isNavbarCollapsed = true) : false"
      >
        <mat-icon
          class="text-center"
          fontSet="fas"
          fontIcon="fa-sign-in-alt"
        ></mat-icon>
        <span>Login</span>
      </a>

      <!-- <li
        *ngIf="isLoggedInObservable | async"
        id="logout"
        class="nav-item d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
      >
        <button mat-button [matMenuTriggerFor]="menu" style="height: 100%">
          <img
            src="assets/images/nav_logo.png"
            height="32"
            width="32"
            style="border-radius: 50%"
          />
          <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
          <span mat-menu-item>Hello, Ashish</span>
          <span
            mat-menu-item
            class="d-flex align-items-center justify-content-center"
            (click)="logout()"
          >
            <mat-icon
              class="d-flex align-items-center justify-content-center"
              fontSet="fas"
              fontIcon="fa-sign-out-alt"
            ></mat-icon>
            <span>Logout</span>
          </span>
        </mat-menu>
      </li> -->

      <li
        *ngIf="isLoggedInObservable | async"
        id="logout"
        class="nav-item dropdown d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
      >
        <span
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            [src]="
              userDetails?.details?.thumb
                ? userDetails?.details?.thumb
                : 'assets/images/user.svg'
            "
            height="40"
            width="40"
            style="border-radius: 50%; object-fit: cover; background-position: center;"
          />
        </span>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <span class="dropdown-item text-center"
            >Hello,&nbsp; {{ userDetails?.details?.name }}</span
          >
          <div class="dropdown-divider"></div>
          <span
            class="dropdown-item d-flex align-items-center justify-content-center"
            id="logout-btn"
            (click)="logout()"
            ><mat-icon
              class="d-flex align-items-center justify-content-center"
              fontSet="fas"
              fontIcon="fa-sign-out-alt"
            ></mat-icon>
            <span style="height: 24px">Logout</span></span
          >
        </div>
      </li>

      <!-- <li
        *ngIf="isLoggedInObservable | async"
        id="logout"
        class="nav-item d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
        (click)="logout()"
        routerLinkActive="nav-link-active"
      >
        <mat-icon
          class="text-center"
          fontSet="fas"
          fontIcon="fa-sign-out-alt"
        ></mat-icon>
        <span>Logout</span>
      </li> -->
      <li
        class="nav-item d-flex flex-column align-items-center justify-content-center"
      >
        <a
          href="https://play.google.com/store/apps/details?id=in.kriger.krigercampus"
          target="_blank"
          rel="noopener"
          ><img
            class="img-fluid playstore"
            src="/assets/images/play_store.png"/><img
        /></a>
      </li>
    </ul>
  </div>
</nav>
