/* -------------------------------------------------- */
@import "~bootstrap/dist/css/bootstrap.min.css";
:host {
  width: 100%;
  height: 60px;
}

nav {
  z-index: 10 !important;
  padding: 0 1rem !important;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-family: var(--primary-font-family);
}

nav .navbar-brand {
  display: flex;
  place-content: center;
  place-items: center;
}

nav .navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav .navbar-brand span.name {
  padding: 0 0.5em;
  font-size: 1.2em;
  /* text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.36); */
  margin-bottom: 2px;
}

nav .navbar-brand span.beta {
  font-size: medium;
  background-color: rgba(239, 19, 19, 0.902);
  /* box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.4); */
  height: 25px;
  margin-left: 0.5em;
  margin-top: 4px;
  padding: 0.2em 0.5em;
  transform: scale(0.85);
}

nav #navbarsDefault {
  height: 60px;
}

nav #navbarsDefault ul a {
  cursor: pointer;
}

nav #navbarsDefault ul a:not(:last-child) {
  width: 60px;
  font-size: 0.85em;
  color: rgba(255, 255, 255, 0.95);
}

nav #navbarsDefault ul a:hover {
  color: white;
  text-decoration: none;
}

nav #navbarsDefault ul a:focus {
  outline: 0;
}

#signup,
#login {
  display: none;
}

/* .show {
  display: 
} */

#signup mat-icon,
#login mat-icon {
  font-size: 1.5em;
}

#logout,
#logout-btn {
  cursor: pointer;
}

#logout button {
  outline: none;
}

nav .playstore {
  max-height: 50px;
}

.nav-link-active {
  border-bottom: 1px solid white;
}

::ng-deep .success-dialog .mat-simple-snackbar-action {
  color: var(--primary-color) !important;
}

/* responsive not collapsed */

nav #navbarsDefault.show {
  height: auto;
  padding-bottom: 1rem;
}

nav #navbarsDefault.show ul a {
  width: auto;
  margin: 1rem 0 !important;
}

@media screen and (max-width: 585px) {
  nav .navbar-brand {
    margin-right: 0;
    font-size: 1em;
  }

  nav {
    padding: 0 0.25rem !important;
  }
}
