/* -------------------------------------------------- */
.nav__container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 4em;
  max-height: 4em;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-image: var(--primary-gradient-right);
  color: white;
  font-family: 'Lato', sans-serif;
  /* letter-spacing: 1px; */
  font-weight: 600;
}

.nav__logo {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__logo a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  height: 100%;
}

.nav__logo a span {
  padding: 0 0.5em;
  font-size: 1.5em;
  text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.36);
  height: 50%;
}

.nav__logo a .beta {
  font-size: medium;
  background-color: rgba(239, 19, 19, 0.902);
  text-shadow: none;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.4);
  height: 25px;
  margin-left: 0.5em;
  padding: 0.2em 0.5em;
  transform: scale(0.85);
}

.nav__logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
}

nav ul li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  max-width: 100px;
  height: 100%;
}

nav ul li.nav-link-active {
  border-bottom: 1px solid white;
}

nav ul li:last-child {
  min-width: 200px;
}

nav li:focus {
  outline: 0;
}

nav li a {
  font-size: 80%;
}

nav img {
  height: 50px;
}

/* .nav__container {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  width: 100%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-image: var(--primary-gradient-right);
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
} */

/* .nav__logo,
.nav__logo a,
nav,
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__logo a span {
  padding: 0 0.5em;
  font-size: 1.5em;
  text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.36);
}

.nav__logo a .beta {
  font-size: medium;
  background-color: rgba(239, 19, 19, 0.902);
  text-shadow: none;
}

nav {
  justify-content: flex-end;
}

.nav__search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav__search input {
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 80%;
  width: 77%;
  padding: 7px 0 7px 7px;
  margin-right: 0.25em;
  background-color: rgba(0, 0, 0, 0);
  transition: border 0.5s ease;
}

.nav__search input:focus {
  outline: none;
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.nav__search button {
  line-height: 31px;
  border-color: rgba(0, 0, 0, 0.4);
}

nav li {
  list-style: none;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

nav li:focus {
  outline: 0;
}

nav li a {
  font-size: 80%;
}

.nav__logo a img,
nav li a img {
  max-width: 100%;
  max-height: 40px;
}

.nav__logo a img {
  border-radius: 50%;
}

nav a,
.nav__logo a {
  text-decoration: none;
  padding: 0.25em;
  color: white;
} */
