<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['/']"
    ><img src="/assets/images/nav_logo.png" /><span class="name"
      >Kriger Campus</span
    ><span class="beta">Beta</span></a
  >
  <button
    class="navbar-toggler hidden-sm-up"
    type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault"
    aria-controls="navbarsDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [ngbCollapse]="isNavbarCollapsed"
    class="collapse navbar-collapse"
    id="navbarsDefault"
  >
    <ul class="navbar-nav ml-auto h-100">
      <li
        *ngIf="isLoggedInObservable | async"
        class="nav-item d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
        [routerLink]="['/posts']"
        routerLinkActive="nav-link-active"
      >
        <mat-icon>ballot</mat-icon>
        <span>Posts</span>
      </li>
      <li
        *ngIf="isLoggedInObservable | async"
        class="nav-item d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
        [routerLink]="['/profiles']"
        routerLinkActive="nav-link-active"
      >
        <mat-icon>account_box</mat-icon>
        <span>Profiles</span>
      </li>
      <li
        *ngIf="!isLoggedInObservable | async"
        id="signup"
        class="nav-item d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
        (click)="openDialog()"
        routerLinkActive="nav-link-active"
      >
        <mat-icon
          class="text-center"
          fontSet="fas"
          fontIcon="fa-user"
        ></mat-icon>
        <span>Sign Up</span>
      </li>
      <li
        *ngIf="!isLoggedInObservable | async"
        id="login"
        class="nav-item d-flex flex-column align-items-center justify-content-center mr-4 font-weight-bold"
        [routerLink]="['/login']"
        routerLinkActive="nav-link-active"
      >
        <mat-icon
          class="text-center"
          fontSet="fas"
          fontIcon="fa-sign-in-alt"
        ></mat-icon>
        <span>Login</span>
      </li>
      <li
        class="nav-item d-flex flex-column align-items-center justify-content-center"
      >
        <a
          href="https://play.google.com/store/apps/details?id=in.kriger.krigercampus"
          target="_blank"
          rel="noopener"
          ><img
            class="img-fluid playstore"
            src="/assets/images/play_store.png"/><img
        /></a>
      </li>
    </ul>
  </div>
</nav>
