<h1 mat-dialog-title style="margin: 0; font-size: 1em; text-align: center;">
  Having Trouble?
</h1>
<p style="text-align: center">Connect via</p>
<!-- <div mat-dialog-content>
  
</div> -->
<mat-dialog-actions align="center">
  <button
    mat-button
    style="background-color: var(--primary-color); color: white;"
  >
    Email
  </button>
  <button
    mat-button
    style="background-color: var(--primary-color); color: white;"
  >
    Whatsapp
  </button>
  <button
    mat-button
    style="background-color: var(--primary-color); color: white;"
  >
    Didn't receive verification mail
  </button>
</mat-dialog-actions>
