mat-toolbar {
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.resource-list__container {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: 150px;
  grid-gap: 1rem;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--bg-grey);
  min-height: 100vh;
  padding-bottom: 2rem;
}

.load__btn,
.loading-spinner {
  display: grid;
  padding: 1rem 0;
  place-items: center;
  background-color: var(--bg-grey);
}

.load__btn button {
  background-color: #1a1a96;
  color: white;
}

@media screen and (max-width: 700px) {
  .resource-list__container {
    grid-template-columns: repeat(2, 340px);
  }
}

@media screen and (max-width: 550px) {
  .resource-list__container {
    grid-template-columns: 340px;
  }
}
