mat-drawer-container {
  background-color: white;
}

mat-drawer {
  position: fixed;
  top: 60px;
  width: 200px;
  margin: 1rem 0;
  border-right: 2px solid #ddd;
}

mat-drawer-content {
  margin-left: 200px;
}

.resource-list__container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 150px;
  grid-gap: 1rem;
  justify-content: center;
  padding: 1rem 0;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.load__btn,
.loading-spinner {
  display: grid;
  padding: 1rem 0;
  place-items: center;
  /* background-color: var(--bg-grey); */
}

.load__btn button {
  background-color: #1a1a96;
  color: white;
}

@media screen and (max-width: 1200px) {
  .resource-list__container {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (max-width: 850px) {
  .resource-list__container {
    grid-template-columns: 300px;
  }
}
