:host {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* section {
  width: 100%;
  min-height: 550px;
}

section:nth-of-type(even) {
  background-color: #f5f5f5;
}

section#icon-with-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 175px));
  grid-gap: 1rem;
  place-items: center;
  place-content: center;
}

section > .image,
section > .text {
  width: 50%;
}

section.image-with-text {
  display: flex;
}

section.image-with-text .image,
section.image-with-text .text {
  display: grid;
  place-items: center;
} */
/* proto1 */

/* header {
  padding: 0.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.countries {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 200px);
  place-items: center;
  place-content: center;
  grid-gap: 1rem;
}

.countries > p {
  font-weight: 600;
}

#featured {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.heading {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.25rem;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-gap: 1em;
  place-items: center;
  justify-content: center;
}

.images img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  
  padding: 0.4em;
} */

/* proto 3 */

section#header {
  width: 100%;
  min-height: 80vh;
  max-height: 80vh;
  /* background-image: url("/assets/landing-bg.jpg");
  background-size: cover; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font-family);
  letter-spacing: 0.32px;
}

section#header .bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/assets/landing-bg.jpg");
  background-size: cover;
  filter: blur(1px);
  z-index: -1;
}

section#header .heading {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: white;
  border-bottom: 2px solid white;
}

section#header .subheading {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

section#header .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section#header .cta a {
  width: 120px;
  height: 36px;
}

section#header .cta a:not(:last-child) {
  height: 36px;
  text-align: center;
  border-radius: 5px;
  margin-right: 1rem;
  line-height: 36px;
  /* box-shadow: 0px 0px 2px #00000078; */
  background-color: #1da1f2;
  color: white;
}

section#header .playstore {
  width: 120px;
  height: 36px;
}

section#featured,
section#awarded,
section#partners {
  width: 100%;
  /* margin: 2rem 0; */
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font-family);
  letter-spacing: 0.32px;
}

section#featured .heading,
section#awarded .heading,
section#partners .heading {
  font-size: 2.5rem;
  margin: 2rem 0;
  color: black;
}

section#featured .images,
section#awarded .images,
section#partners .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-gap: 1em;
  place-items: center;
  width: 100%;
  justify-content: center;
}

section#featured .images img,
section#awarded .images img,
section#partners .images img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 0.4em;
}

section#awarded {
  background-color: #f3f3f3;
}
