<section id="icon-with-text">
  <div class="item">
    <mat-icon>done_outline</mat-icon>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur,
      molestias? exercitationem ullam?
    </p>
  </div>
  <div class="item">
    <mat-icon>done_outline</mat-icon>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur,
      molestias? exercitationem ullam?
    </p>
  </div>
  <div class="item">
    <mat-icon>done_outline</mat-icon>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur,
      molestias? exercitationem ullam?
    </p>
  </div>
  <div class="item">
    <mat-icon>done_outline</mat-icon>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur,
      molestias? exercitationem ullam?
    </p>
  </div>
  <div class="item">
    <mat-icon>done_outline</mat-icon>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur,
      molestias? exercitationem ullam?
    </p>
  </div>
</section>
<section class="image-with-text">
  <div class="image">
    <img src="https://picsum.photos/id/0/300" alt="" />
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repudiandae
    perferendis quas id nisi quisquam numquam corrupti, reprehenderit nulla,
    tempore vel a iste? Inventore perferendis sed labore! Quo consectetur in eos
    inventore voluptatum vero, quam praesentium. Esse, error nostrum. Vero omnis
    maiores reiciendis modi, reprehenderit voluptate officiis deserunt
    voluptatum autem!
  </div>
</section>
<section class="image-with-text">
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repudiandae
    perferendis quas id nisi quisquam numquam corrupti, reprehenderit nulla,
    tempore vel a iste? Inventore perferendis sed labore! Quo consectetur in eos
    inventore voluptatum vero, quam praesentium. Esse, error nostrum. Vero omnis
    maiores reiciendis modi, reprehenderit voluptate officiis deserunt
    voluptatum autem!
  </div>
  <div class="image">
    <img src="https://picsum.photos/id/0/300" alt="" />
  </div>
</section>
<section class="image-with-text">
  <div class="image">
    <img src="https://picsum.photos/id/0/300" alt="" />
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repudiandae
    perferendis quas id nisi quisquam numquam corrupti, reprehenderit nulla,
    tempore vel a iste? Inventore perferendis sed labore! Quo consectetur in eos
    inventore voluptatum vero, quam praesentium. Esse, error nostrum. Vero omnis
    maiores reiciendis modi, reprehenderit voluptate officiis deserunt
    voluptatum autem!
  </div>
</section>
<section class="image-with-text">
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repudiandae
    perferendis quas id nisi quisquam numquam corrupti, reprehenderit nulla,
    tempore vel a iste? Inventore perferendis sed labore! Quo consectetur in eos
    inventore voluptatum vero, quam praesentium. Esse, error nostrum. Vero omnis
    maiores reiciendis modi, reprehenderit voluptate officiis deserunt
    voluptatum autem!
  </div>
  <div class="image">
    <img src="https://picsum.photos/id/0/300" alt="" />
  </div>
</section>
<section class="image-with-text">
  <div class="image">
    <img src="https://picsum.photos/id/0/300" alt="" />
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repudiandae
    perferendis quas id nisi quisquam numquam corrupti, reprehenderit nulla,
    tempore vel a iste? Inventore perferendis sed labore! Quo consectetur in eos
    inventore voluptatum vero, quam praesentium. Esse, error nostrum. Vero omnis
    maiores reiciendis modi, reprehenderit voluptate officiis deserunt
    voluptatum autem!
  </div>
</section>
