<!-- <section id="icon-with-text">
  <div class="item">
    <mat-icon>done_outline</mat-icon>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur,
      molestias? exercitationem ullam?
    </p>
  </div>
  <div class="item">
    <mat-icon>done_outline</mat-icon>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur,
      molestias? exercitationem ullam?
    </p>
  </div>
  <div class="item">
    <mat-icon>done_outline</mat-icon>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur,
      molestias? exercitationem ullam?
    </p>
  </div>
  <div class="item">
    <mat-icon>done_outline</mat-icon>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur,
      molestias? exercitationem ullam?
    </p>
  </div>
  <div class="item">
    <mat-icon>done_outline</mat-icon>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur,
      molestias? exercitationem ullam?
    </p>
  </div>
</section>
<section class="image-with-text">
  <div class="image">
    <img src="assets/images/screenshots/notification.png" alt="">
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repudiandae
    perferendis quas id nisi quisquam numquam corrupti, reprehenderit nulla,
    tempore vel a iste? Inventore perferendis sed labore! Quo consectetur in eos
    inventore voluptatum vero, quam praesentium. Esse, error nostrum. Vero omnis
    maiores reiciendis modi, reprehenderit voluptate officiis deserunt
    voluptatum autem!
  </div>
</section>
<section class="image-with-text">
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repudiandae
    perferendis quas id nisi quisquam numquam corrupti, reprehenderit nulla,
    tempore vel a iste? Inventore perferendis sed labore! Quo consectetur in eos
    inventore voluptatum vero, quam praesentium. Esse, error nostrum. Vero omnis
    maiores reiciendis modi, reprehenderit voluptate officiis deserunt
    voluptatum autem!
  </div>
  <div class="image">
    <img src="assets/images/screenshots/notification.png" alt="">
  </div>
</section>
<section class="image-with-text">
  <div class="image">
    <img src="assets/images/screenshots/notification.png" alt="">
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repudiandae
    perferendis quas id nisi quisquam numquam corrupti, reprehenderit nulla,
    tempore vel a iste? Inventore perferendis sed labore! Quo consectetur in eos
    inventore voluptatum vero, quam praesentium. Esse, error nostrum. Vero omnis
    maiores reiciendis modi, reprehenderit voluptate officiis deserunt
    voluptatum autem!
  </div>
</section>
<section class="image-with-text">
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repudiandae
    perferendis quas id nisi quisquam numquam corrupti, reprehenderit nulla,
    tempore vel a iste? Inventore perferendis sed labore! Quo consectetur in eos
    inventore voluptatum vero, quam praesentium. Esse, error nostrum. Vero omnis
    maiores reiciendis modi, reprehenderit voluptate officiis deserunt
    voluptatum autem!
  </div>
  <div class="image">
    <img src="assets/images/screenshots/notification.png" alt="">
  </div>
</section>
<section class="image-with-text">
  <div class="image">
    <img src="assets/images/screenshots/notification.png" alt="">
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repudiandae
    perferendis quas id nisi quisquam numquam corrupti, reprehenderit nulla,
    tempore vel a iste? Inventore perferendis sed labore! Quo consectetur in eos
    inventore voluptatum vero, quam praesentium. Esse, error nostrum. Vero omnis
    maiores reiciendis modi, reprehenderit voluptate officiis deserunt
    voluptatum autem!
  </div>
</section> -->
<!-- proto 1 -->

<!-- <header>India's First Education Networking Platform</header>
<div class="countries">
  <p>India</p>
  <p>North America</p>
  <p>South America</p>
  <p>Dubai</p>
</div>

<div id="featured">
  <h2 class="heading">Featured In</h2>
  <div class="images">
    <img
      src="http://www.earlypad.com/wp-content/uploads/2016/08/Earlypad_logo.png"
      *ngFor="let f of featured"
    />
  </div>
</div> -->

<!-- proto2 -->

<section id="header">
  <div class="bg-image"></div>
  <p class="heading">
    India's Education Network
  </p>
  <p class="subheading">
    Connecting Learners, Educators, & Institutes for a literate India
  </p>
  <div class="cta">
    <a style="cursor: pointer" (click)="openDialog()">Register</a>
    <a [routerLink]="['/login']" href="/login">Login</a>
    <a
      href="https://play.google.com/store/apps/details?id=in.kriger.krigercampus"
      target="_blank"
      rel="noopener"
      ><img class="playstore" src="/assets/images/play_store.png"/><img
    /></a>
  </div>
</section>

<section
  id="featured"
  style="cursor: pointer"
  [routerLink]="['/media-coverage']"
>
  <p class="heading">Featured In</p>
  <div class="images">
    <img [src]="featured.url" *ngFor="let featured of featuredImages" />
  </div>
</section>

<section id="awarded">
  <p class="heading">Awarded at</p>
  <div class="images">
    <img [src]="award.url" *ngFor="let award of awardImages" />
  </div>
</section>

<section id="partners">
  <p class="heading">Our Partners</p>
  <div class="images">
    <img [src]="partner.url" *ngFor="let partner of partnerImages" />
  </div>
</section>

<section id="howitworks">
  <p class="heading">How it Works</p>
  <mat-tab-group mat-stretch-tabs mat-align-tabs="center" style="width: 100%">
    <mat-tab class="label" label="Learner">
      <ng-template matTabContent>
        <div class="content">
          <div class="learners types">
            <span>Student</span>
            <span>Parent</span>
            <span>Exam Aspirant</span>
            <span>Scholar</span>
            <span>Researcher</span>
          </div>
          <div class="howitworks">
            <div class="row">
              <div class="text">
                <p class="text-heading">Profile</p>
                <div class="text-content">
                  <p>Keep your profile upto date</p>
                  <p>Get noticed to opportunities</p> 
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Timeline</p>
                <div class="text-content">
                  <p>Follow educators and institutes</p>
<p>Get updates</p>
<p>Ask questions</p>
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Marketplace</p>
                <div class="text-content">
                  <p>Search</p> 
<p>Enquire</p>
<p>Learn</p> 
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/Marketplace-eli.png" style="object-fit:cover" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Group</p>
                <div class="text-content">
                  <p>Join groups for</p>
                  <br>
<p>Study</p>
<p>Exam prepration</p>
<p>Current affairs</p>
<p>Doubt clearing</p>
<p>Study with 10000+ students and faculty</p>
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Krigers</p>
                <div class="text-content">
                  Connect with Learners
Educators and Institutes
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Notification</p>
                <div class="text-content">
                  Keep upto date with your network
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab class="label" label="Educator">
      <ng-template matTabContent>
        <div class="content">
          <div class="educators types">
            <span>Teacher</span>
            <span>Lecturer</span>
            <span>Professor</span>
            <span>Counselor</span>
            <span>Tutor</span>
            <span>Author</span>
            <span>Trainer</span>
            <span>Career Counselor</span>
          </div>
          <div class="howitworks">
            <div class="row">
              <div class="text">
                <p class="text-heading">Profile</p>
                <div class="text-content">
                  <p>Keep your profile upto date</p>
                  <p>Get noticed to opportunities</p> 
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/profile-e.png" style="object-fit: cover" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Timeline</p>
                <div class="text-content">
                  <p>Post regular updates</p>
                  <p>Share content across web</p> 
                  <p>Gain followers</p>
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Marketplace</p>
                <div class="text-content">
                  <p>Add your services and offerings</p>
                  <br>
<p>Books</p>
<p>Classroom Learning</p>
<p>Counselling</p>
<p>Distance Learning</p>
<p>e-Learning</p>
<p>Home Tutions</p>
<p>Mentorship</p>
<p>Scholarship</p>
<p>Study Material</p>
<p>Test Paper</p>
<p>Training Session</p>
<br>

<p>Receive enquries </p>
<p>Grow your business</p>
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/Marketplace-eli.png" style="object-fit:cover" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Group</p>
                <div class="text-content">
                  <p>Create groups for</p>
                  <br>
<p>Study</p>
<p>Current affairs</p>
<p>Parents Teacher interaction</p>
<p>Doubt clearing</p>
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Krigers</p>
                <div class="text-content">
                  Connect with Learners
Educators and Institutes
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Notification</p>
                <div class="text-content">
                  Keep upto date with your network
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab class="label" label="Institute">
      <ng-template matTabContent>
        <div class="content">
          <div class="institutes types">
            <span>Coaching Institute</span>
            <span>School</span>
            <span>Play School</span>
            <span>College</span>
            <span>Training Institute</span>
            <span>Educational NGO's</span>
            <span>Library</span>
            <span>Study Center</span>
            <span>Vocational School</span>
          </div>
          <div class="howitworks">
            <div class="row">
              <div class="text">
                <p class="text-heading">Profile</p>
                <div class="text-content">
                  <p>Keep your profile upto date</p>
                  <p>Get noticed to opportunities</p> 
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Timeline</p>
                <div class="text-content">
                  <p>Post regular updates</p>
                  <p>Share content across web</p> 
                  <p>Gain followers</p>
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Marketplace</p>
                <div class="text-content">
                  <p>Add your services and offerings</p>
                  <br>
<p>Books</p>
<p>Classroom Learning</p>
<p>Counselling</p>
<p>Distance Learning</p>
<p>e-Learning</p>
<p>Home Tutions</p>
<p>Mentorship</p>
<p>Scholarship</p>
<p>Study Material</p>
<p>Test Paper</p>
<p>Training Session</p>
<br>

<p>Receive enquries </p>
<p>Grow your revenue</p>
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/Marketplace-eli.png" style="object-fit:cover" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Group</p>
                <div class="text-content">
                  <p>Create groups for</p>
                  <br>
<p>Study</p>
<p>Current affairs</p>
<p>Parents Teacher interaction</p>
<p>Doubt clearing</p>
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Krigers</p>
                <div class="text-content">
                 Connect with Learners
Educators and Institutes
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="text">
                <p class="text-heading">Notification</p>
                <div class="text-content">
                  Keep upto date with your network
                </div>
              </div>
              <div class="image">
                <img src="assets/images/screenshots/notification.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</section>

<!-- <section id="contact">
  <p class="heading">Contact us</p>
  <app-contact></app-contact>
</section> -->

<app-footer-new class="footer_white"></app-footer-new>
