:host {
  width: 100%;
  font-family: var(--secondary-font-family);
  /* height: 100vh;
  min-height: 100vh; */
  /* display: flex;
  flex-direction: column; */
}

section#header {
  width: 100%;
  height: 80%;
  /* min-height: 80vh;
  max-height: 80vh; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font-family);
  letter-spacing: 0.32px;
  padding: 0 1rem;
}

section#header .bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/assets/landing-bg.jpg");
  background-color: #f4b902;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}

section#header .heading {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: white;
  border-bottom: 2px solid white;
}

section#header .subheading {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: white;
}

section#header .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section#header .cta a {
  width: 120px;
  height: 36px;
}

section#header .cta a:not(:last-child) {
  height: 36px;
  text-align: center;
  border-radius: 5px;
  margin-right: 1rem;
  line-height: 36px;
  /* box-shadow: 0px 0px 2px #00000078; */
  background-color: #1da1f2;
  color: white;
  text-decoration: none;
}

section#header .playstore {
  width: 120px;
  height: 36px;
}

section#featured,
section#awarded,
section#partners {
  width: 100%;
  /* margin: 2rem 0; */
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font-family);
  letter-spacing: 0.32px;
}

section#featured .heading,
section#awarded .heading,
section#partners .heading {
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
  color: var(--font-black);
}

section#featured .images,
section#awarded .images,
section#partners .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, 175px);
  grid-gap: 1em;
  place-items: center;
  width: 100%;
  justify-content: center;
}

section#featured .images img,
section#awarded .images img,
section#partners .images img {
  width: 160px;
  height: 80px;
  object-fit: contain;
  padding: 0.4em;
}

section#awarded {
  background-color: var(--bg-grey);
}

section#contact {
  width: 100%;
  /* margin: 2rem 0; */
  padding: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font-family);
  letter-spacing: 0.32px;
}

section#contact .heading {
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
  color: var(--font-black);
}

/* section#contact {
  background-color: var(--bg-grey);
} */

section#howitworks {
  width: 100%;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font-family);
  letter-spacing: 0.32px;
}

section#howitworks .heading {
  font-size: 1.5rem;
  padding: 2rem 0;
  color: var(--font-black);
  width: 100%;
  text-align: center;
  background-color: var(--bg-grey);
}

section#howitworks .types {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-gap: 1rem;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--bg-grey);
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
  font-family: var(--secondary-font-family);
}

::ng-deep section#howitworks .mat-tab-label .mat-tab-label-content {
  font-family: var(--secondary-font-family) !important;
  font-size: 1rem !important;
  font-weight: 600;
}

::ng-deep section#howitworks .mat-tab-body {
  z-index: 0;
}

::ng-deep section#howitworks .mat-tab-header {
  background-color: var(--bg-grey);
}

section#howitworks .content .howitworks {
  width: 100%;
  font-family: var(--secondary-font-family);
}

section#howitworks .content .howitworks > .row {
  width: 100%;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  place-items: center;
  padding: 2rem 0;
}

section#howitworks .content .howitworks > .row:nth-child(even) {
  background-color: var(--bg-grey);
}

.howitworks > .row > .text {
  width: 100%;
  padding-left: 3rem;
  /* text-align: center; */
}

.howitworks > .row .text-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* .howitworks > .row > .image {
  position: relative;
  width: 222px;
  height: 450px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 40px;
  border-bottom-width: 40px;
  border-radius: 36px;
}

.howitworks > .row > .image::before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
} */

/* .howitworks > .row > .image::after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
} */

.howitworks > .row img {
  width: 190px;
  height: 370px;
}
