<header>
  <h3>About Us</h3>
</header>

<div class="mentors__container">
  <h3>Mentor</h3>
  <div class="mentors">
    <app-team-member [members]="mentors"></app-team-member>
  </div>
</div>

<div class="advisors__container">
  <h3>Advisors</h3>
  <div class="advisors">
    <app-team-member [members]="advisors"></app-team-member>
  </div>
</div>

<div class="legal__container">
  <h3>Legal</h3>
  <div class="legal">
    <app-team-member [members]="legal"></app-team-member>
  </div>
</div>

<div class="experts__container">
  <h3>Expert Panel</h3>
  <div class="experts">
    <app-team-member [members]="experts"></app-team-member>
  </div>
</div>

<div class="coreteam__container">
  <h3>Core Team</h3>
  <div class="coreteam">
    <app-team-member [members]="coreteam"></app-team-member>
  </div>
</div>

<!-- <div class="institutepartnership__container">
  <h3>Institute Partnership</h3>
  <div class="institutepartnership">
    <app-team-member [members]="institutepartnership"></app-team-member>
  </div>
</div> -->

<div class="technicalteam__container">
  <h3>Technical Team</h3>
  <div class="technicalteam">
    <app-team-member [members]="technicalteam"></app-team-member>
  </div>
</div>
