<a
  class="app-dialog"
  href="https://play.google.com/store/apps/details?id=in.kriger.krigercampus"
  target="_blank"
  rel="noopener"
>
  <img
    src="../../../assets/images/nav_logo.png"
    alt="Kriger Campus Logo"
    width="72"
    height="72"
  />
  <h1 mat-dialog-title>
    Kriger Campus works better on App
  </h1>
  <p>Download now to use all the features</p>
  <div mat-dialog-content style="margin-top: 2rem;">
    <img
      src="../../../assets/images/play_store.png"
      alt="Kriger Campus on Play Store"
      width="300"
      height="100"
      id="playstore"
    />
  </div>
</a>
