<div class="android__container">
  <h3>Content Writer</h3>
  <div class="aboutus">
    <p class="title">About us</p>
    <p class="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio mollitia
      necessitatibus facere facilis non nemo placeat ratione molestias sed at!
    </p>
  </div>
  <div class="role">
    <p class="title">Role</p>
    <p class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem blanditiis
      a voluptatem suscipit sequi ab minima sint ipsa nam qui.
    </p>
  </div>
  <div class="responsibilities">
    <p class="title">Responsibilities</p>
    <ul>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam,
        beatae.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, in.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
        dignissimos!
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, maxime!
      </li>
      <li>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, autem!
      </li>
    </ul>
  </div>
  <div class="requirements">
    <p class="title">Requirements</p>
    <ul>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam,
        beatae.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, in.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
        dignissimos!
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, maxime!
      </li>
      <li>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, autem!
      </li>
    </ul>
  </div>
  <a
    class="apply"
    mat-stroked-button
    href="https://forms.gle/PSFhTcfq8bGHdLiz8"
    target="_blank"
    >Apply</a
  >
</div>
<app-footer-new></app-footer-new>
