.main__container {
  /* display: grid; */
  /* grid-template-columns: 1fr 1.5fr 1fr; */
  /* grid-template-rows: auto;
  grid-template-areas: 'header header header'; */
  margin-top: 60px;
}

mat-progress-bar {
  position: absolute;
  top: 60px;
}
