.main__container {
  display: grid;
  /* grid-template-columns: 1fr 1.5fr 1fr; */
  grid-template-rows: auto;
  grid-template-areas: 'header header header';
}

app-navbar {
  grid-area: header;
  height: 70px;
}
