:host {
  display: grid;
  place-items: center;
  place-items: center;
  text-align: center;
  grid-gap: 1em;
  margin: 2em 0;
}

.gform,
.gform iframe {
  width: 640px;
}

@media screen and (max-width: 976px) {
  .gform,
  .gform iframe {
    width: 100%;
  }
}
