<div class="android__container">
  <h3>Android Developer</h3>
  <!-- <div class="aboutus">
    <p class="title">About us</p>
    <p class="content">
      Kriger Campus - We are India's first and biggest Education Network, Join
      us today to have a good and prosperous career ahead. Apply if you like
      challenges and want to solve them.
    </p>
  </div> -->
  <div class="role">
    <p class="title">Role</p>
    <p class="content">
      We are looking for an Android developer to join our team who shares our
      passion to create a seamless product verification platform for consumers.
      If you love thinking big and delving deep and enjoy envisioning truly
      elegant solutions, this role is definitely for you.
    </p>
  </div>
  <div class="experience">
    <p class="title">Experience</p>
    <p class="content">Minimum 2 Years</p>
  </div>
  <div class="responsibilities">
    <p class="title">What you will be Doing</p>
    <ul>
      <li>
        Design and build applications for the Android platform
      </li>
      <li>
        Ensure the performance, quality, and responsiveness of applications
      </li>
      <li>
        Collaborate with a team to define, design, and ship new features
      </li>
      <li>
        Identify and correct bottlenecks and fix bugs
      </li>
      <li>
        Help maintain code quality, organization, and automatization
      </li>
    </ul>
  </div>
  <div class="requirements">
    <p class="title">What you need to know</p>
    <ul>
      <li>
        Expertise with Java, XML, and Material Design
      </li>
      <li>
        Familiarity with RESTful APIs to connect Android applications to
        back-end services
      </li>
      <li>
        Experience with Firebase is a plus
      </li>
      <li>
        Understanding of Android’s design principles and interface guidelines
      </li>
      <li>
        Strong communication skills, get-things-done attitude, and empathy
      </li>
      <li>
        Strong sense of ownership, drive and obsessive attention to detail.
      </li>
      <li>
        Comfortable with iterative development practices and code reviews
      </li>
      <li>
        Previous experience as part of a product-oriented team is a plus
      </li>
    </ul>
  </div>
  <a
    class="apply"
    mat-stroked-button
    href="https://forms.gle/PSFhTcfq8bGHdLiz8"
    target="_blank"
    >Apply</a
  >
</div>
<app-footer-new class="footer_grey"></app-footer-new>
