<div class="sales__container">
  <div class="aboutus">
    <p class="title">About us</p>
    <p class="content">
      Kriger Campus is a venture funded start-up started by a team of IIT IIM
      alumni. We are India’s first mobile based education networking platform.
      We connect teachers and students in India, USA and Latin America. For more
      information visit <a href="https://kriger.in/">www.kriger.in</a>
    </p>
  </div>
  <div class="role">
    <p class="title">Role</p>
    <p class="content">
      Sales Executive
    </p>
  </div>
  <!-- <h3>
    Sales Executive
    <span>: Candidates from field of education are preferred</span>
  </h3> -->
  <p>
    <b style="display: block;"
      >Candidates from field of education are preferred.</b
    >
    Ex: Education consultant, Teachers, Career counselor or Business Development
    executives at any education venture or edutech venture.
  </p>
  <!-- <div class="aboutus">
    <p class="title">About us</p>
    <p class="content">
      Kriger Campus - We are India's first and biggest Education Network, Join
      us today to have a good and prosperous career ahead. Apply if you like
      challenges and want to solve them.
    </p>
  </div> -->
  <!-- <div class="role">
    <p class="title">Role</p>
    <p class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem blanditiis
      a voluptatem suscipit sequi ab minima sint ipsa nam qui.
    </p>
  </div> -->
  <div class="positions">
    <p class="title">No of positions</p>
    <p class="content">02</p>
  </div>
  <div class="experience">
    <p class="title">Experience</p>
    <p class="content">Minimum 1 Year</p>
  </div>
  <div class="education">
    <p class="title">Education</p>
    <p class="content">High school diploma</p>
  </div>
  <div class="salary">
    <p class="title">Salary</p>
    <p class="content">
      As per industry standards with lucrative incentive plan
    </p>
  </div>
  <div class="joining">
    <p class="title">Joining</p>
    <p class="content">Immediate</p>
  </div>
  <div class="location">
    <p class="title">Location</p>
    <p class="content">New Delhi</p>
  </div>
  <div class="responsibilities">
    <p class="title">What you need to know</p>
    <ul>
      <li>
        Must have experience of setting sales targets and achieving them.
      </li>
      <li>
        Candidate should be good in written and spoken English.
      </li>
      <li>
        Strong communication skills and IT fluency.
      </li>
      <li>
        Ability to manage complex projects and multi-task.
      </li>
      <li>Excellent organizational skills.</li>
      <li>
        Ability to flourish with minimal guidance, be proactive, and handle
        uncertainty.
      </li>
      <li>Must have an android phone and laptop.</li>
      <li>Proficient in Word, Excel, Outlook, and PowerPoint.</li>
    </ul>
  </div>
  <div class="requirements">
    <p class="title">What you will be doing</p>
    <ul>
      <li>
        Interacting with educators, teachers, faculties and onboarding them.
      </li>
      <li>
        Actively seek out new sales opportunities through cold calling,
        networking and social media.
      </li>
      <li>
        Set up meetings with potential clients.
      </li>
      <li>
        Prepare and deliver appropriate presentations on products and services.
      </li>
      <li>
        Increasing the value of current customers while attracting new ones.
      </li>
      <li>
        Create frequent reviews and reports with sales and financial data.
      </li>
      <li>
        Ensure proper onboarding of client on the platform.
      </li>
      <li>
        Collaborate with team members to achieve better results.
      </li>
      <li>
        Have weekly client interaction.
      </li>
    </ul>
  </div>
  <div class="howtoapply">
    <p class="title">How to apply</p>
    <p class="content">
      Drop a mail to
      <a href="mailto:official@kriger.in">official@kriger.in</a> with your
      resume.
    </p>
  </div>
  <!-- <a
    class="apply"
    mat-stroked-button
    href="https://forms.gle/PSFhTcfq8bGHdLiz8"
    target="_blank"
    >Apply</a
  > -->
</div>
<app-footer-new class="footer_grey"></app-footer-new>
