<div class="sales__container">
  <h3>
    Sales Executive
    <span>: Candidates from field of education are preferred</span>
  </h3>
  <p>
    Ex: Education consultant, Teachers, Career counselor or Business Development
    executives at any education venture or edutech venture
  </p>
  <!-- <div class="aboutus">
    <p class="title">About us</p>
    <p class="content">
      Kriger Campus - We are India's first and biggest Education Network, Join
      us today to have a good and prosperous career ahead. Apply if you like
      challenges and want to solve them.
    </p>
  </div> -->
  <!-- <div class="role">
    <p class="title">Role</p>
    <p class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem blanditiis
      a voluptatem suscipit sequi ab minima sint ipsa nam qui.
    </p>
  </div> -->
  <div class="experience">
    <p class="title">Experience</p>
    <p class="content">Minimum 1 Year</p>
  </div>
  <div class="responsibilities">
    <p class="title">What you need to know</p>
    <ul>
      <li>
        Candidate should be good in written and spoken English.
      </li>
      <li>
        Knowledge of Microsoft Office is must.
      </li>
      <li>
        Must have an android phone and laptop.
      </li>
    </ul>
  </div>
  <div class="requirements">
    <p class="title">What you will be doing</p>
    <ul>
      <li>
        Actively seek out new sales opportunities through cold calling,
        networking and social media.
      </li>
      <li>
        Set up meetings with potential clients.
      </li>
      <li>
        Prepare and deliver appropriate presentations on products and services.
      </li>
      <li>
        Create frequent reviews and reports with sales and financial data.
      </li>
      <li>
        Ensure proper onboarding of client on the platform.
      </li>
      <li>
        Collaborate with team members to achieve better results.
      </li>
      <li>
        Have weekly client review.
      </li>
    </ul>
  </div>
  <a
    class="apply"
    mat-stroked-button
    href="https://forms.gle/PSFhTcfq8bGHdLiz8"
    target="_blank"
    >Apply</a
  >
</div>
<app-footer-new class="footer_grey"></app-footer-new>
