:host {
  width: 100%;
  display: grid;
  grid-gap: 1em;
  place-items: center;
  place-content: center;
  height: 70vh;
}

.logo {
  margin-top: 3em;
  display: none;
}

mat-toolbar {
  color: var(--primary-color);
  background-color: white;
  display: grid;
  place-items: center;
}

.login-card {
  box-shadow: var(--primary-box-shadow);
}

mat-form-field {
  width: 100%;
  margin: 1em 0;
}

mat-card-actions {
  width: 100%;
}

mat-card-actions {
  display: grid;
  place-items: center;
  margin-bottom: 0 !important;
  margin-left: 0;
}

button {
  margin: 0.5em 0 !important;
  width: 100%;
}

button#login:enabled {
  background-color: var(--primary-color);
  color: white;
}

button#forgotpassword {
  color: var(--primary-color);
  display: none;
}

::ng-deep .success-dialog .mat-simple-snackbar-action {
  color: var(--primary-color) !important;
}

@media screen and (max-width: 550px) {
  :host {
    width: 95%;
    margin: 0 auto;
  }
}
