<div class="footer__container">
  <div class="blog">
    <ul>
      <li><a>Our Team</a></li>
      <li><a>Careers</a></li>
      <li><a>Internships</a></li>
      <li><a>Media Coverage</a></li>
      <li><a>Terms & Conditions</a></li>
    </ul>
  </div>
  <div class="socialmedia">
    <ul>
      <span>Follow us..</span>
      <li
        ><img src="assets/images/icons/facebook.svg" alt=""/>
        <a
          href="https://www.facebook.com/Krigercampus/"
          target="_blank"
          rel="noopener noreferrer"
        ></a
      ></li>
      <li
        ><img src="assets/images/icons/instagram.svg" alt=""/>
        <a
          href="https://www.instagram.com/krigercampus"
          target="_blank"
          rel="noopener noreferrer"
        ></a
      ></li>
      <li
        ><img src="assets/images/icons/twitter.svg" alt=""/>
        <a
          href="https://twitter.com/krigercampus"
          target="_blank"
          rel="noopener noreferrer"
        ></a
      ></li>
      <li
        ><img src="assets/images/icons/linkedin.svg" alt=""/>
        <a
          href="https://www.linkedin.com/company/kriger-campus/"
          target="_blank"
          rel="noopener noreferrer"
        ></a
      ></li>
    </ul>
  </div>
  <div class="footer__close">
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
