<div class="footer__container" [@hideFooter]="currentState">
  <div class="blog">
    <ul>
      <li routerLinkActive="footer-link-active">
        <a routerLink="/our-team">Our Team</a>
      </li>
      <li routerLinkActive="footer-link-active">
        <a routerLink="/careers">Careers</a>
      </li>
      <li routerLinkActive="footer-link-active">
        <a routerLink="/internships">Internships</a>
      </li>
      <li routerLinkActive="footer-link-active">
        <a routerLink="/media-coverage">Media Coverage</a>
      </li>
      <li routerLinkActive="footer-link-active">
        <a routerLink="/pricing">Pricing</a>
      </li>
      <li routerLinkActive="footer-link-active">
        <a routerLink="/term-conditions">Terms & Conditions</a>
      </li>
    </ul>
  </div>
  <div class="socialmedia">
    <ul>
      <span>Follow us</span>
      <li>
        <a
          href="https://www.facebook.com/Krigercampus/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="assets/images/icons/facebook.svg" alt=""
        /></a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/krigercampus"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="assets/images/icons/instagram.svg" alt=""
        /></a>
      </li>
      <li>
        <a
          href="https://twitter.com/krigercampus"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="assets/images/icons/twitter.svg" alt=""
        /></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/company/kriger-campus/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="assets/images/icons/linkedin.svg" alt=""
        /></a>
      </li>
    </ul>
  </div>
  <div class="footer__close">
    <button mat-icon-button (click)="toggleFooter()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<button
  class="footer__show"
  mat-raised-button
  (click)="toggleFooter()"
  [@showFooter]="currentState"
>
  Internships, Career & More
</button>
