.mediacover__container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-family: var(--secondary-font-family);
}

.mediacover__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2em;
}

.mediacover__header h3 {
  padding: 0.5em;
  /* border-color: transparent; */
  /* border-bottom: 1px solid black; */
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
}

.mediacover__container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mediacover__container ul li {
  padding: 0.3em;
}

@media screen and (max-width: 585px) {
  .mediacover__container {
    width: 100vw;
    padding: 1em 0.2em;
  }
}
