<div class="mediacover__container">
  <div class="mediacover__header">
    <h3>Media Coverage</h3>
  </div>
  <ul>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="https://www.whatsapp.com/stories/business/India/328234668424626/"
          >WhatsApp & YourStory</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="https://www.iimidr.ac.in/news-events/iim-indores-alumni-venture-recognized-by-whatsapp-yourstory/"
          >IIM Indore</a
        ></span
      >
    </li>
    <li>
      <a
        target="_blank"
        rel="noopener"
        href="http://www.earlypad.com/list-of-20-indian-startups-who-secured-funding-9-15-april/"
        ><span>Earlypad</span></a
      >
    </li>
    <li>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.devdiscourse.com/article/education/383403-kriger-campus---indias-education-network-launched-now-available-on-playstore"
        ><span>Devdiscourse</span></a
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="http://techcircle.vccircle.com/2018/04/09/yet-to-launch-ed-tech-platform-kriger-campus-raises-seed-funding"
          >Tech Circle</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="https://www.vccircle.com/yet-to-launch-ed-tech-platform-kriger-campus-raises-46k-in-seed-money/"
          >VC Circle</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="https://www.dealstreetasia.com/stories/india-dealbook-225-95853/"
          >Deal Street Asia</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="https://nxtstartup.in/education-news/upcoming-ed-tech-startup-kriger-campus-raises-seed-funding"
          >Nxt Startup</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="https://insideiim.com/easing-out-admission-woes-kriger-campus-iim-i/"
          >Inside IIM</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="https://www.duadmissions.co.in/kriger-campus-chat-authentic-du-seniors/"
          >DU Admissions</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="http://www.freepressjournal.in/indore/kriger-campus-app-to-the-rescue-of-ipm-aspirants/832280"
          >Free Press</a
        >&nbsp;<a
          target="_blank"
          rel="noopener"
          href="http://epaper.freepressjournal.in/c/27249385"
          >[Article 02]</a
        >&nbsp;<a
          target="_blank"
          rel="noopener"
          href="http://www.freepressjournal.in/topic/kriger-campus-indias-education-network"
          >[Article 03]</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="http://www.hindustantimes.com/education/app-to-answer-queries-on-iim-indore/story-QnMrc6BzCq4YB61n1l288J.html"
          >Hindustan Times</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="http://www.amarujala.com/campus/iit-studet-kriger-campus-app"
          >Amar Ujala</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="http://epaper.patrika.com/c/10067128"
          >Patrika</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          target="_blank"
          rel="noopener"
          href="https://www.bhaskar.com/mp/indore/news/MP-IND-HMU-MAT-latest-indore-news-033002-1382989-NOR.html"
          >Bhaskar</a
        ></span
      >
    </li>
  </ul>
</div>
