<mat-card class="user-card">
  <a href="{{ profileUrl }}" id="profile_link">
    <mat-card-header>
      <div
        class="avatar"
        mat-card-avatar
        [ngStyle]="{
          'background-image':
            'url(' + user.thumb + '), url(assets/images/user.svg)'
        }"
      >
        <app-user-badge [account_type]="user?.account_type"></app-user-badge>
      </div>
      <div class="header-text">
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>
          <p *ngIf="user?.username">@{{ user.username }}</p>
          <p *ngIf="user?.headline">{{ user.headline }}<br /></p>
        </mat-card-subtitle>
      </div>
    </mat-card-header>
  </a>
  <mat-card-actions>
    <!-- (debounceClick)="likePost()" -->
    <button
      appDebounceClick
      mat-stroked-button
      (click)="sendRequest(user.user_id, 1)"
      class="kriger-primary-stroked-button send-button"
    >
      <span>Send Request</span>
    </button>
    <button
      appDebounceClick
      mat-icon-button
      (click)="sendRequest(user.user_id, 0)"
      color="warn"
    >
      <mat-icon aria-label="Remove suggestion">highlight_off</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
