:host {
  min-height: calc(100vh - 60px);
  display: block;
  min-width: 700px;
}

app-network-drawer {
  position: fixed;
  width: 300px;
  top: calc(50vh - 60px);
  left: 80px;
}

.network-home__container {
  margin-left: calc(400px + ((100vw - 400px) / 4));
  width: 460px;
  display: grid;
  gap: 1rem;
  margin-top: calc((100vh - 60px) / 4);
}
