<!-- {{ data | json }} -->

<div class="profile__container">
  <mat-card class="profile__card">
    <app-profile-header
      class="profile__header"
      [data]="headerData"
    ></app-profile-header>

    <app-profile-intro
      class="profile__intro full_width divider"
      [data]="introData"
    ></app-profile-intro>

    <app-profile-about
      class="profile__about full_width divider"
      [data]="aboutData"
    ></app-profile-about>

    <app-profile-additional
      *ngIf="data?.account_type == 1 || data?.account_type == 2"
      class="profile__additional full_width divider"
      [data]="additionalData"
    ></app-profile-additional>

    <app-profile-exams
      class="profile__exams full_width divider"
      [data]="examsData"
    ></app-profile-exams>

    <app-profile-subjects
      class="profile__subjects full_width divider"
      [data]="subjectsData"
    ></app-profile-subjects>

    <app-profile-college
      *ngIf="data?.account_type == 0 || data?.account_type == 1"
      class="profile__college full_width divider"
      [data]="collegeData"
    ></app-profile-college>

    <app-profile-coaching
      *ngIf="data?.account_type == 0 || data?.account_type == 1"
      class="profile__coaching full_width divider"
      [data]="coachingData"
    ></app-profile-coaching>

    <app-profile-award
      class="profile__award full_width divider"
      [data]="awardData"
    ></app-profile-award>

    <app-profile-certification
      *ngIf="data?.account_type == 0 || data?.account_type == 1"
      class="profile__certification full_width divider"
      [data]="certificationData"
    ></app-profile-certification>

    <app-profile-internship
      *ngIf="data?.account_type == 0 || data?.account_type == 1"
      class="profile__internship full_width divider"
      [data]="internshipData"
    ></app-profile-internship>

    <app-profile-publication
      class="profile__publication full_width divider"
      [data]="publicationData"
    ></app-profile-publication>

    <app-profile-specialisation
      *ngIf="data?.account_type == 0 || data?.account_type == 1"
      class="profile__specialisation full_width divider"
      [data]="specialisationData"
    ></app-profile-specialisation>

    <app-profile-presence
      *ngIf="data?.account_type == 1 || data?.account_type == 2"
      class="profile__presence full_width divider"
      [data]="presenceData"
    ></app-profile-presence>

    <app-profile-address
      *ngIf="data?.account_type == 1 || data?.account_type == 2"
      class="profile__address full_width divider"
      [data]="addressData"
    ></app-profile-address>
  </mat-card>
</div>
