<mat-card class="post-card" *ngIf="post">
  <mat-card-header>
    <div
      mat-card-avatar
      class="post-header-image"
      [ngStyle]="{
        'background-image':
          'url(' +
          (post.userdetail | async)?.thumb +
          '), url(../../../assets/images/user.svg)'
      }"
    ></div>
    <mat-card-title>{{ (post.userdetail | async)?.name }}</mat-card-title>
    <mat-card-subtitle>
      {{ (post.userdetail | async)?.headline }}
      <br />
      {{ post.timestamp.substring(0, 8) | amDateFormat: "LL" }}
      <br />
      {{ post.key }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p
      [innerHTML]="
        post.text | linky: { truncate: { length: 50, location: 'end' } }
      "
    ></p>
    <!-- <span>...see more</span> -->
  </mat-card-content>
  <img
    *ngIf="post.image_url"
    mat-card-image
    src="{{ post.image_url }}"
    alt=""
  />

  <a
    class="post-pdf"
    *ngIf="post.pdf_url"
    href="{{ post.pdf_url }}"
    target="_blank"
    rel="noopener"
  >
    <img
      src="assets/images/icons/pdf.png"
      alt="pdf attachment"
      width="64px"
      height="64px"
    />
    <span style="margin-left: 1em">Click here to open</span></a
  >

  <mat-card-subtitle>
    <span> {{ (post.counter | async)?.count_views || 0 }} Views </span>
    <span> {{ (post.counter | async)?.count_likes || 0 }} Likes </span>
    <span> {{ (post.counter | async)?.count_comments || 0 }} Comments </span>
  </mat-card-subtitle>
  <hr />
  <mat-card-actions>
    <button
      (click)="likePost(post.key)"
      [ngStyle]="{ color: isPostLiked ? 'var(--primary-color)' : 'inherit' }"
      mat-button
    >
      <mat-icon>thumb_up_alt</mat-icon>
      <span>Like</span>
    </button>
    <button (click)="openDialog()" mat-button>
      <mat-icon>comment</mat-icon>
      <span>Comment</span>
    </button>
    <button (click)="openDialog()" mat-button>
      <mat-icon>share</mat-icon>
      <span>Share</span>
    </button>
  </mat-card-actions>
</mat-card>
