<mat-card class="post-card" *ngIf="post">
  <a href="{{ profileUrl }}" id="profile_link">
    <mat-card-header>
      <div
        style="cursor: pointer;"
        mat-card-avatar
        class="post-header-image"
        [ngStyle]="{
          'background-image':
            'url(' +
            post?.user.thumb +
            '), url(../../../assets/images/user.svg)'
        }"
      >
        <app-user-badge
          [account_type]="post?.user?.account_type"
        ></app-user-badge>
      </div>
      <mat-card-title style="cursor: pointer; margin-bottom: 6px;">{{
        post?.user.name
      }}</mat-card-title>
      <mat-card-subtitle>
        <p *ngIf="post?.user?.username">@{{ post?.user.username }}</p>
        <p *ngIf="post?.user?.headline">{{ post?.user.headline }}<br /></p>
        {{ post?.timestamp | amFromUnix | amDateFormat: "LL" }}
      </mat-card-subtitle>
    </mat-card-header>
  </a>
  <mat-card-content>
    <p
      [innerHTML]="
        post.text | linky: { truncate: { length: 50, location: 'end' } }
      "
    ></p>
    <!-- <span>...see more</span> -->
  </mat-card-content>
  <img
    *ngIf="post.image_url"
    mat-card-image
    src="{{ post.image_url }}"
    alt=""
  />

  <a
    class="post-pdf"
    *ngIf="post.pdf_url"
    href="{{ post.pdf_url }}"
    target="_blank"
    rel="noopener"
  >
    <img
      src="assets/images/icons/pdf.png"
      alt="pdf attachment"
      width="64px"
      height="64px"
    />
    <span style="margin-left: 1em;">Click here to open</span></a
  >

  <mat-card-subtitle>
    <span> {{ post?.count_views || 0 }} Views </span>
    <span> {{ post?.count_likes || 0 }} Likes </span>
    <span> {{ post?.count_comments || 0 }} Comments </span>
  </mat-card-subtitle>
  <!-- <hr /> -->
  <mat-card-actions>
    <button
      (click)="openDialog()"
      [ngStyle]="{ color: post.is_like ? 'var(--primary-color)' : 'inherit' }"
      mat-button
    >
      <mat-icon>thumb_up_alt</mat-icon>
      <span>Like</span>
    </button>
    <button (click)="openDialog()" mat-button>
      <mat-icon>comment</mat-icon>
      <span>Comment</span>
    </button>
    <button (click)="openShare()" mat-button>
      <mat-icon>share</mat-icon>
      <span>Share</span>
    </button>
  </mat-card-actions>
  <!-- <app-create-comment
    *ngIf="showComments"
    [postid]="post.key"
  ></app-create-comment>
  <app-comment-list
    *ngIf="(post.counter | async)?.count_comments && showComments"
    [postid]="post.key"
  ></app-comment-list> -->
</mat-card>
