<h3>Suggested Krigers for you</h3>
<div class="suggestions__container">
  <div class="suggestion" *ngFor="let user of suggestions$ | async">
    <app-network-suggestion-user
      (messageEvent)="updateSuggestions($event)"
      [user]="user"
    ></app-network-suggestion-user>
  </div>
</div>

<div class="loading-spinner" *ngIf="loading$ | async">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="suggestion-error" *ngIf="error">
  Something went wrong!
</div>

<div class="suggestion-placeholder" *ngIf="isEmpty">
  <p>Kudos!!</p>
  <p>You have exhausted your daily connection limit.</p>
  <p>
    Kriger Campus ensures quality networking by suggesting profiles only for YOU
    based on multiple parameters.
  </p>
  <p>Be back here tomorrow for more suggestions.</p>
</div>
