<div class="ribbon">
  <span>Additional Details</span>
</div>
<ng-template #placeholder>Details not filled</ng-template>
<div class="content">
  <div class="placement">
    <p class="title">Placement after course completion</p>
    <p *ngIf="data?.placement; else placeholder">{{ data?.placement }}</p>
  </div>
  <div class="resourcetype">
    <p class="title">Resource Type Provided</p>
    <div
      *ngIf="
        data?.resource_type && data?.resource_type.length > 0;
        else placeholder
      "
    >
      <span *ngFor="let item of data.resource_type; let isLast = last"
        >{{ item }}{{ isLast ? "" : ", " }}</span
      >
    </div>
    <!-- <ng-template #rtp>Fill resource type</ng-template> -->
  </div>
  <div class="admissionprocess">
    <p class="title">Admission Registration Process</p>
    <div
      *ngIf="
        data?.admission_process && data?.admission_process.length > 0;
        else placeholder
      "
    >
      <span *ngFor="let item of data.admission_process; let isLast = last"
        >{{ item }}{{ isLast ? "" : ", " }}</span
      >
    </div>
    <!-- <ng-template #aprp>Fill admission process</ng-template> -->
  </div>
  <div class="modeofteaching">
    <p class="title">Mode of Teaching</p>
    <div
      *ngIf="
        data?.admission_process && data?.admission_process.length > 0;
        else placeholder
      "
    >
      <span *ngFor="let item of data.mode_of_teaching; let isLast = last"
        >{{ item }}{{ isLast ? "" : ", " }}</span
      >
    </div>
    <!-- <ng-template #motp>Fill mode of teaching</ng-template> -->
  </div>
  <div class="feestructure">
    <p class="title">Fee Structure</p>
    <div
      *ngIf="
        data?.fee_structure && data?.fee_structure.length > 0;
        else placeholder
      "
    >
      <span *ngFor="let item of data.fee_structure; let isLast = last"
        >{{ item }}{{ isLast ? "" : ", " }}</span
      >
    </div>
  </div>
  <div class="scholarship">
    <p class="title">Scholarship</p>
    <div
      *ngIf="
        data?.scholarship && data?.scholarship.length > 0;
        else placeholder
      "
    >
      <span *ngFor="let item of data.scholarship; let isLast = last"
        >{{ item }}{{ isLast ? "" : ", " }}</span
      >
    </div>
  </div>
  <div class="batchsize">
    <p class="title">Batch Size</p>
    <p *ngIf="data?.batch_size; else placeholder">{{ data?.batch_size }}</p>
  </div>
  <div class="batchcount">
    <p class="title">Number of Batches</p>
    <p *ngIf="data?.number_batch; else placeholder">{{ data?.number_batch }}</p>
  </div>
  <div class="paymentmodes">
    <p class="title">Payment Modes Accepted</p>
    <div
      *ngIf="
        data?.payment_modes && data?.payment_modes.length > 0;
        else placeholder
      "
    >
      <span *ngFor="let item of data.payment_modes; let isLast = last"
        >{{ item }}{{ isLast ? "" : ", " }}</span
      >
    </div>
  </div>
  <div class="extradoubtclasses">
    <p class="title">Extra Doubt Classes</p>
    <p *ngIf="data?.doubt; else placeholder">{{ data?.doubt }}</p>
  </div>
  <div class="medium">
    <p class="title">Language of Teaching</p>
    <p *ngIf="data?.language_teaching; else placeholder">
      {{ data?.language_teaching }}
    </p>
  </div>
  <div class="facultygender">
    <p class="title">Faculty Gender</p>
    <p *ngIf="data?.faculty_gender; else placeholder">
      {{ data?.faculty_gender }}
    </p>
  </div>
  <div class="testsfrequency">
    <p class="title">Tests Frequency</p>
    <div
      *ngIf="
        data?.test_frequency && data?.test_frequency.length > 0;
        else placeholder
      "
    >
      <span *ngFor="let item of data.test_frequency; let isLast = last"
        >{{ item }}{{ isLast ? "" : ", " }}</span
      >
    </div>
  </div>
  <div class="democlasses">
    <p class="title">Demo Classes</p>
    <p *ngIf="data?.demo; else placeholder">{{ data?.demo }}</p>
  </div>
  <div class="demoamount">
    <p class="title">Demo Amount</p>
    <p *ngIf="data?.demo_amount; else placeholder">{{ data?.demo_amount }}</p>
  </div>
</div>
