<div class="careers__container">
  <div class="careers__header">
    <h3>Careers</h3>
  </div>
  <div class="careers__content">
    <h2>Current Vacancies</h2>
    <p>
      We do not have any job openings at the moment. Please come back again
      later.
    </p>
    <p>
      <span
        >Check more vacancies
        <strong
          ><a
            href="https://goo.gl/J9Cjor"
            target="_blank"
            rel="noopener noreferrer"
            >HERE</a
          ></strong
        >&nbsp;</span
      >
    </p>
  </div>
  <app-contact></app-contact>
</div>
