<div class="careers__container">
  <div class="careers__header">
    <h3>Careers</h3>
  </div>
  <div class="careers__content">
    <iframe
      [src]="sanitizer.bypassSecurityTrustResourceUrl(indeedUrl)"
      height="320"
      width="640"
    ></iframe>
    <!-- <div
      class="indeedjobs-widget"
      data-id="f6f0ad83d8d2b9b7f313"
      data-theme="dark"
      data-width="640"
      data-height="320"
    ></div>
    <script>
      (function(d, id) {
        if (d.getElementById(id)) return;
        var js = d.createElement('script');
        js.id = id;
        js.src = 'https://www.indeedjobs.com/widget.js';
        d.head.appendChild(js);
      })(document, 'indeedjobs-js');
    </script> -->
    <!-- <h2>Current Vacancies</h2>
    <p>
      We do not have any job openings at the moment. Please come back again
      later.
    </p>
    <p>
      <span
        >Check more vacancies
        <strong
          ><a
            href="https://goo.gl/J9Cjor"
            target="_blank"
            rel="noopener noreferrer"
            >HERE</a
          ></strong
        >&nbsp;</span
      >
    </p> -->
  </div>
  <app-contact></app-contact>
</div>
