.sort__container {
  display: grid;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 1em;
}

.sort--header {
  display: flex;
  padding: 1em;
}

.sort--header h2 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.06em;
  margin-right: 1em;
}

.sort--letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sort--letters button {
  min-width: auto;
}

.selected {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 255, 0.8);
  border-radius: 0;
}
