<div class="sort__container">
  <div class="sort--header">
    <h2>Profile List: '{{ selected }}'</h2>
    <mat-chip-list>
      <mat-chip *ngIf="total" color="primary" selected
        >{{ total }} profiles</mat-chip
      >
    </mat-chip-list>
  </div>
  <hr />
  <div class="sort--letters">
    <button
      mat-button
      *ngFor="let letter of letters"
      appDebounceClick
      (debounceClick)="sendChange(letter)"
      [ngClass]="{ 'selected mat-raised-button': selected === letter }"
    >
      {{ letter }}
    </button>
  </div>
  <hr />
</div>
