h1 {
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-size: 1em;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

button#sendPasswordReset:enabled {
  background-color: var(--primary-color);
  color: white;
}
