<h1 mat-dialog-title style="margin: 0; font-size: 1em; text-align: center;">
  Forgot Password?
</h1>
<div mat-dialog-content>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendPasswordReset()">
    <mat-form-field style="margin-right: 1em">
      <input
        (input)="message = ''"
        matInput
        type="email"
        formControlName="email"
        placeholder="Your Registered Email"
        required
      />
      <mat-error *ngIf="email.invalid && email.touched"
        >Not a valid email</mat-error
      >
    </mat-form-field>
    <button
      id="sendPasswordReset"
      mat-button
      type="submit"
      [disabled]="forgotPasswordForm.invalid || isSubmitted"
    >
      Send
    </button>
  </form>
</div>

<div *ngIf="isSubmitted || message">
  <mat-progress-bar *ngIf="!message" mode="indeterminate"></mat-progress-bar>
  <h1 *ngIf="message" mat-dialog-title style="margin: 0; font-size: 1em;">
    {{ message }}
  </h1>
</div>
