<div class="profile__container">
  <mat-card class="profile__card">
    <div class="profile__header">
      <div
        mat-card-avatar
        class="profile__photo"
        [ngStyle]="{
          'background-image':
            'url(' + data?.thumb + '), url(../../../assets/images/user.svg)'
        }"
      ></div>
      <h2 class="profile__name">{{ data.name }}</h2>
      <div class="profile__type">{{ data.userType }}</div>
      <div class="content">
        <div class="posts">
          <span>{{ data?.count_posts ? data?.count_posts : "0" }}</span>
          <span>Posts</span>
        </div>
        <div class="groups">
          <span>{{ data?.count_groups ? data?.count_groups : "0" }}</span>
          <span>Groups</span>
        </div>
        <div class="krigers">
          <span>{{
            data?.count_connections ? data?.count_connections : "0"
          }}</span>
          <span>Krigers</span>
        </div>
        <!-- <div class="views">
          <span>Profile Views</span>
          <span>{{
            counters?.count_profileviews ? counters?.count_profileviews : '0'
          }}</span>
        </div> -->
      </div>
    </div>

    <div class="profile__intro full_width divider">
      <div class="ribbon">
        <span>Intro</span>
      </div>
      <div class="content">
        <div class="username">
          <p class="title">Username</p>
          <p>@{{ data.username }}</p>
        </div>
        <div class="headline">
          <!-- <mat-icon fontSet="far" fontIcon="fa-list-alt"></mat-icon> -->
          <p class="title">Bio</p>
          <p
            [ngStyle]="
              !data?.headline ? { color: 'rgba(0, 0, 0, 0.55)' } : false
            "
          >
            {{ data?.headline ? data?.headline : "Fill your Info" }}
          </p>
        </div>
        <div class="latestedu">
          <!-- <mat-icon fontSet="fas" fontIcon="fa-graduation-cap"></mat-icon> -->
          <p class="title">Latest Education</p>

          <p
            [ngStyle]="
              !data?.latestedu ? { color: 'rgba(0, 0, 0, 0.55)' } : false
            "
          >
            {{
              data?.latestedu ? data?.latestedu : "Fill your latest education"
            }}
          </p>
        </div>
        <div class="teachingsince">
          <p class="title">Teaching Since</p>
          <p>{{ data.teachingsince }}</p>
        </div>
        <div class="teachingat">
          <p class="title">Teaching at</p>
          <p>{{ data.teachingat }}</p>
        </div>
        <div class="classesteaching">
          <p class="title">Classes Teaching</p>
          <span *ngFor="let item of data.classes_teaching; let isLast = last"
            >{{ item }}{{ isLast ? "" : ", " }}</span
          >
        </div>

        <div class="hometown">
          <!-- <mat-icon fontSet="fa" fontIcon="fa-home"></mat-icon> -->
          <p class="title">Hometown</p>

          <p>
            <span
              [ngStyle]="
                !data?.hometown ? { color: 'rgba(0, 0, 0, 0.55)' } : false
              "
              >{{ data?.hometown ? "New Delhi" : "Hometown" }},</span
            >
            <span
              [ngStyle]="
                !data?.state ? { color: 'rgba(0, 0, 0, 0.55)' } : false
              "
              >{{ data?.state ? "Delhi" : "State" }},</span
            >
            <span
              [ngStyle]="
                !data?.country ? { color: 'rgba(0, 0, 0, 0.55)' } : false
              "
              >{{ data?.country ? " India" : "Country" }}</span
            >
          </p>
        </div>
        <div class="currentcity">
          <p class="title">Current city</p>
          <p>{{ data.current_city }}</p>
        </div>

        <div class="birthday">
          <!-- <mat-icon fontSet="fa" fontIcon="fa-birthday-cake"></mat-icon> -->
          <p class="title">Birthday</p>

          <p>Private Information</p>
        </div>
        <div class="contact">
          <!-- <mat-icon fontSet="fa" fontIcon="fa-phone-square"></mat-icon> -->
          <p class="title">Phone number</p>

          <p>Private Information</p>
        </div>
        <div class="type">
          <p class="title">Type</p>
          <span *ngFor="let item of data.type; let isLast = last"
            >{{ item }}{{ isLast ? "" : ", " }}</span
          >
        </div>
      </div>
    </div>

    <div class="profile__about full_width divider">
      <div class="ribbon">
        <span>About Me</span>
      </div>
      <div class="content">
        <div class="about">
          <span
            [ngStyle]="
              !data?.summary ? { color: 'rgba(0, 0, 0, 0.55)' } : false
            "
            >{{ data?.summary ? data?.summary : "About Me" }}</span
          >
        </div>
      </div>
    </div>

    <div class="profile__additional full_width divider">
      <div class="ribbon">
        <span>Additional Details</span>
      </div>
      <div class="content">
        <div class="placement">
          <p class="title">Placement after course completion</p>
          <p>{{ data.additional_details.placement }}</p>
        </div>
        <div class="resourcetype">
          <p class="title">Resource Type Provided</p>
          <span
            *ngFor="
              let item of data.additional_details.resource_type;
              let isLast = last
            "
            >{{ item }}{{ isLast ? "" : ", " }}</span
          >
        </div>
        <div class="admissionprocess">
          <p class="title">Admission Registration Process</p>
          <span
            *ngFor="
              let item of data.additional_details.admission_process;
              let isLast = last
            "
            >{{ item }}{{ isLast ? "" : ", " }}</span
          >
        </div>
        <div class="modeofteaching">
          <p class="title">Mode of Teaching</p>
          <span
            *ngFor="
              let item of data.additional_details.mode_of_teaching;
              let isLast = last
            "
            >{{ item }}{{ isLast ? "" : ", " }}</span
          >
        </div>
        <div class="feestructure">
          <p class="title">Fee Structure</p>
          <span
            *ngFor="
              let item of data.additional_details.fee_structure;
              let isLast = last
            "
            >{{ item }}{{ isLast ? "" : ", " }}</span
          >
        </div>
        <div class="scholarship">
          <p class="title">Scholarship</p>
          <span
            *ngFor="
              let item of data.additional_details.scholarship;
              let isLast = last
            "
            >{{ item }}{{ isLast ? "" : ", " }}</span
          >
        </div>
        <div class="batchsize">
          <p class="title">Batch Size</p>
          <p>{{ data.additional_details.batch_size }}</p>
        </div>
        <div class="batchcount">
          <p class="title">Number of Batches</p>
          <p>{{ data.additional_details.number_batch }}</p>
        </div>
        <div class="paymentmodes">
          <p class="title">Payment Modes Accepted</p>
          <span
            *ngFor="
              let item of data.additional_details.payment_modes;
              let isLast = last
            "
            >{{ item }}{{ isLast ? "" : ", " }}</span
          >
        </div>
        <div class="extradoubtclasses">
          <p class="title">Extra Doubt Classes</p>
          <p>{{ data.additional_details.doubt }}</p>
        </div>
        <div class="medium">
          <p class="title">Language of Teaching</p>
          <p>{{ data.additional_details.language_teaching }}</p>
        </div>
        <div class="facultygender">
          <p class="title">Faculty Gender</p>
          <p>{{ data.additional_details.faculty_gender }}</p>
        </div>
        <div class="testsfrequency">
          <p class="title">Tests Frequency</p>
          <span
            *ngFor="
              let item of data.additional_details.test_frequency;
              let isLast = last
            "
            >{{ item }}{{ isLast ? "" : ", " }}</span
          >
        </div>
        <div class="democlasses">
          <p class="title">Demo Classes</p>
          <p>{{ data.additional_details.demo }}</p>
        </div>
      </div>
    </div>

    <div class="profile__exams full_width divider">
      <div class="ribbon">
        <span
          >Exams
          {{ data.userType == "educator" ? "I teach" : "We teach" }}</span
        >
      </div>
      <div class="content">
        <div class="exam details" *ngIf="data?.exam">
          <mat-icon fontSet="far" fontIcon="fa-newspaper"></mat-icon>
          <mat-chip-list>
            <mat-chip
              *ngFor="let exam of data?.exam"
              color="primary"
              selected
              >{{ exam }}</mat-chip
            >
          </mat-chip-list>
        </div>

        <div class="placeholder" *ngIf="!data?.exam">
          <mat-icon fontSet="far" fontIcon="fa-newspaper"></mat-icon>
          <span>Fill your Exam Details</span>
        </div>
      </div>
    </div>

    <div class="profile__subjects full_width divider">
      <div class="ribbon">
        <span
          >Subjects
          {{ data.userType == "educator" ? "I teach" : "We teach" }}</span
        >
      </div>
      <div class="content">
        <div class="subject details" *ngIf="data?.subject">
          <mat-icon fontSet="fas" fontIcon="fa-book-open"></mat-icon>
          <mat-chip-list>
            <mat-chip
              *ngFor="let subject of data?.subject"
              color="primary"
              selected
              >{{ subject }}</mat-chip
            >
          </mat-chip-list>
        </div>

        <div class="placeholder" *ngIf="!data?.subject">
          <mat-icon fontSet="fas" fontIcon="fa-book-open"></mat-icon>
          <span>Fill your Subject Details</span>
        </div>
      </div>
    </div>

    <div class="profile__college full_width divider">
      <div class="ribbon">
        <span>School/College/Institute</span>
      </div>
      <div class="content">
        <div *ngIf="data?.college">
          <div class="college details" *ngFor="let college of data?.college">
            <mat-icon fontSet="fas" fontIcon="fa-graduation-cap"></mat-icon>
            <div>
              <span class="name">{{ college.name }}</span>
              <span class="description">{{ college.description }}</span>
              <span class="year"
                >{{ college.year_from }}
                {{ college.year_to ? "- " + college.year_to : null }}</span
              >
            </div>
          </div>
        </div>
        <div class="placeholder" *ngIf="!data?.college">
          <mat-icon fontSet="fas" fontIcon="fa-graduation-cap"></mat-icon>
          <span>Fill your Education Details</span>
        </div>
      </div>
    </div>

    <div class="profile__coaching full_width divider">
      <div class="ribbon">
        <span>Coaching</span>
      </div>
      <div class="content">
        <div *ngIf="data?.coaching">
          <div class="coaching details" *ngFor="let coaching of data?.coaching">
            <mat-icon fontSet="fas" fontIcon="fa-chalkboard-teacher"></mat-icon>
            <div>
              <span class="name">{{ coaching.name }}</span>
              <span class="description">{{ coaching.description }}</span>
              <span class="year"
                >{{ coaching.year_from }}
                {{ coaching.year_to ? "- " + coaching.year_to : null }}</span
              >
            </div>
          </div>
        </div>
        <div class="placeholder" *ngIf="!data?.coaching">
          <mat-icon fontSet="fas" fontIcon="fa-chalkboard-teacher"></mat-icon>
          <span>Fill your Coaching Details</span>
        </div>
      </div>
    </div>

    <div class="profile__award full_width divider">
      <div class="ribbon">
        <span>Award</span>
      </div>
      <div class="content">
        <div *ngIf="data?.award">
          <div class="award details" *ngFor="let award of data?.award">
            <mat-icon fontSet="fas" fontIcon="fa-trophy"></mat-icon>
            <div>
              <span class="name">{{ award.name }}</span>
              <span class="description">{{ award.description }}</span>
              <span class="year"
                >{{ award.year_from }}
                {{ award.year_to ? "- " + award.year_to : null }}</span
              >
            </div>
          </div>
        </div>
        <div class="placeholder" *ngIf="!data?.award">
          <mat-icon fontSet="fas" fontIcon="fa-trophy"></mat-icon>
          <span>Fill your Award Details</span>
        </div>
      </div>
    </div>

    <div class="profile__certification full_width divider">
      <div class="ribbon">
        <span>Certification</span>
      </div>
      <div class="content">
        <div *ngIf="data?.certification">
          <div
            class="certification details"
            *ngFor="let certificate of data?.certification"
          >
            <mat-icon fontSet="fas" fontIcon="fa-award"></mat-icon>
            <div>
              <span class="name">{{ certificate.name }}</span>
              <span class="description">{{ certificate.description }}</span>
              <span class="year"
                >{{ certificate.year_from }}
                {{
                  certificate.year_to ? "- " + certificate.year_to : null
                }}</span
              >
            </div>
          </div>
        </div>
        <div class="placeholder" *ngIf="!data?.certification">
          <mat-icon fontSet="fas" fontIcon="fa-award"></mat-icon>
          <span>Fill your Certification Details</span>
        </div>
      </div>
    </div>

    <div class="profile__internship full_width divider">
      <div class="ribbon">
        <span>Internship/Research</span>
      </div>
      <div class="content">
        <div *ngIf="data?.internship">
          <div
            class="internship details"
            *ngFor="let internship of data?.internship"
          >
            <mat-icon fontSet="fas" fontIcon="fa-briefcase"></mat-icon>
            <div>
              <span class="name">{{ internship.name }}</span>
              <span class="description">{{ internship.description }}</span>
              <span class="year"
                >{{ internship.year_from }}
                {{
                  internship.year_to ? "- " + internship.year_to : null
                }}</span
              >
            </div>
          </div>
        </div>
        <div class="placeholder" *ngIf="!data?.internship">
          <mat-icon fontSet="fas" fontIcon="fa-briefcase"></mat-icon>
          <span>Fill your Internship Details</span>
        </div>
      </div>
    </div>

    <div class="profile__publication full_width divider">
      <div class="ribbon">
        <span>Publication</span>
      </div>
      <div class="content">
        <div *ngIf="data?.publication">
          <div
            class="publication details"
            *ngFor="let publication of data?.publication"
          >
            <mat-icon fontSet="fas" fontIcon="fa-book"></mat-icon>
            <div>
              <span class="name">{{ publication.name }}</span>
              <span class="description">{{ publication.description }}</span>
              <span class="year"
                >{{ publication.year_from }}
                {{
                  publication.year_to ? "- " + publication.year_to : null
                }}</span
              >
            </div>
          </div>
        </div>
        <div class="placeholder" *ngIf="!data?.publication">
          <mat-icon fontSet="fas" fontIcon="fa-book"></mat-icon>
          <span>Fill your Publication Details</span>
        </div>
      </div>
    </div>

    <div class="profile__specialisation full_width divider">
      <div class="ribbon">
        <span>Area of Specialisation</span>
      </div>
      <div class="content">
        <div *ngIf="data?.specialisation">
          <div
            class="specialisation details"
            *ngFor="let specialisation of data?.specialisation"
          >
            <mat-icon fontSet="fas" fontIcon="fa-medal"></mat-icon>
            <div>
              <span class="name">{{ specialisation.name }}</span>
              <span class="description">{{ specialisation.description }}</span>
              <span class="year"
                >{{ specialisation.year_from }}
                {{
                  specialisation.year_to ? "- " + specialisation.year_to : null
                }}</span
              >
            </div>
          </div>
        </div>
        <div class="placeholder" *ngIf="!data?.specialisation">
          <mat-icon fontSet="fas" fontIcon="fa-medal"></mat-icon>
          <span>Fill your Specialisation Details</span>
        </div>
      </div>
    </div>

    <div class="profile__presence full_width divider">
      <div class="ribbon"><span>Online Presence</span></div>
      <div class="content">
        <div class="website">
          <p class="title">Website</p>
          <p>{{ data.presence.website }}</p>
        </div>
        <div class="facebook">
          <p class="title">Facebook</p>
          <p>{{ data.presence.facebook }}</p>
        </div>
        <div class="instagram">
          <p class="title">Instagram</p>
          <p>{{ data.presence.instagram }}</p>
        </div>
        <div class="linkedin">
          <p class="title">Linkedin</p>
          <p>{{ data.presence.linkedin }}</p>
        </div>
        <div class="twitter">
          <p class="title">Twitter</p>
          <p>{{ data.presence.twitter }}</p>
        </div>
        <div class="youtube">
          <p class="title">Youtube</p>
          <p>{{ data.presence.youtube }}</p>
        </div>
      </div>
    </div>

    <div class="profile__address full_width divider">
      <div class="ribbon"><span>Address</span></div>
      <div class="content">
        <span>{{ data.address.house }}, </span>
        <span>{{ data.address.street }}, </span>
        <span>{{ data.address.landmark }}, </span>
        <span>{{ data.address.address_city }}, </span>
        <span>{{ data.address.address_state }}, </span>
        <span>{{ data.address.address_country }}, </span>
        <span>{{ data.address.pincode }}</span>
      </div>
    </div>
  </mat-card>
</div>
