:host {
  width: 100%;
  min-height: calc(100% - 100px);
  display: grid;
  /* grid-gap: 1em; */
  grid-template-columns: minmax(300px, 400px);
  place-items: center;
  place-content: center;
  margin: 20px 0;
}

.learner-educator-card {
  padding-left: 2rem;
  padding-right: 2rem;
}

.learner-educator-card mat-card-content {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(3, minmax(144px, 232px));
}

.learner-educator-card header {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.learner-educator-card header .checkbox-group-title {
  font-weight: 500;
  color: var(--primary-color);
}

.learner-educator-card header mat-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 4rem;
  font-size: 3em;
  height: 2em;
}

mat-toolbar {
  color: var(--primary-color);
  background-color: white;
  display: grid;
  place-items: center;
}

.learner-educator-card,
.signup-card {
  box-shadow: var(--primary-box-shadow);
}

.signup-card {
  padding: 16px 30px;
}

mat-form-field {
  width: 100%;
  margin: 0;
}

mat-card-actions {
  width: 100%;
  display: grid;
  /* place-items: center; */
  margin-bottom: 0 !important;
  margin-left: 0;
}

mat-hint,
mat-card-subtitle {
  color: black !important;
}

button {
  margin: 0.5em 0 !important;
}

button#signup:enabled,
button#next:enabled {
  background-color: var(--primary-color);
  color: white;
}

.signup-card mat-radio-button {
  margin-right: 0.5rem;
}

.signup-card .genderform {
  margin-bottom: 0.5rem;
}

::ng-deep .signup-card .mat-radio-inner-circle,
::ng-deep .signup-card .mat-radio-outer-circle,
::ng-deep .signup-card .mat-radio-container {
  width: 15px !important;
  height: 15px !important;
}

::ng-deep
  .signup-card
  .mat-radio-button.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: var(--primary-color);
}

::ng-deep .signup-card .mat-radio-button .mat-radio-inner-circle {
  color: var(--primary-color);
  background-color: var(--primary-color);
}

::ng-deep .signup-card .mat-radio-button .mat-radio-ripple .mat-ripple-element {
  background-color: var(--primary-color);
}

::ng-deep .signup-card .mat-radio-button .mat-radio-ripple {
  left: calc(50% - 15px) !important;
  top: calc(50% - 15px) !important;
  height: 30px !important;
  width: 30px !important;
}

::ng-deep
  .signup-card
  .mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
::ng-deep
  .signup-card
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-persistent-ripple,
::ng-deep
  .signup-card
  .mat-radio-button.mat-accent:active
  .mat-radio-persistent-ripple {
  background-color: var(--primary-color);
}

/* ::ng-deep
  .signup-card
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-background,
::ng-deep
  .signup-card
  .mat-checkbox-indeterminate.mat-accent
  .mat-checkbox-background {
  background-color: var(--primary-color);
} */

::ng-deep
  .signup-card
  .mat-checkbox:not(.mat-checkbox-disabled).mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: var(--primary-color);
}
