/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat");
@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
  /* --primary-color: #0062ff;
  --accent-color: #00c6ff; */
  --primary-color: #1da1f2;
  --danger-color: #f21d1d;
  --primary-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15),
    0 2px 3px rgba(0, 0, 0, 0.2);
  /* --primary-gradient-right: linear-gradient(to right, #00c6ff, #0062ff);
  --primary-gradient-left: linear-gradient(to left, #00c6ff, #0062ff); */
  --primary-font-family: "Lato", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-family: var(--primary-font-family);
  background-color: white;
}

/* body background for posts  */
.body-bg {
  background-color: #f5f5f5;
}

a,
a:hover,
a:focus,
a:active {
  outline: 0;
}

mat-spinner {
  margin: 10vh auto;
}

.mat-form-field-label {
  color: black !important;
}
.mat-form-field-underline {
  background-color: black !important;
}
