<div class="performers__container">
  <mat-card class="performer__card" *ngFor="let performer of performers">
    <mat-card-header>
      <div
        mat-card-avatar
        [ngStyle]="{
          'background-image':
            'url(assets/images/interns/' +
            performer.image_url +
            '.png)'
        }"
      ></div>
      <mat-card-title>{{ performer.name }}</mat-card-title>
      <mat-card-subtitle>{{ performer.job }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <blockquote>
        {{ performer.description }}
      </blockquote>
    </mat-card-content>
  </mat-card>
</div>
