<div class="performers__container">
  <mat-card class="performer__card">
    <mat-card-header>
      <div
        mat-card-avatar
        [ngStyle]="{
          'background-image': 'url(../../../../../assets/images/user.svg)'
        }"
      ></div>
      <mat-card-title>John Doe</mat-card-title>
      <mat-card-subtitle>Internship: Beta Testing</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I learnt many things, made many friends during this internship.
        Teammates were good. Suraj and Poojan helped a lot. We did many creative
        things and removed bugs from the app.
      </p>
    </mat-card-content>
  </mat-card>
</div>
