<div class="profiles__container">
  <app-profile-sort
    (messageEvent)="receiveSelected($event)"
    [total]="total"
  ></app-profile-sort>

  <div class="list__container">
    <mat-spinner diameter="50" *ngIf="loading"></mat-spinner>
    <mat-action-list *ngIf="data && !loading">
      <mat-list-item role="listitem" *ngFor="let user of filteredList">
        <a (click)="profileLink(user._id)">{{ user.name }}</a>
      </mat-list-item>
    </mat-action-list>
    <div *ngIf="!data && !loading">No profiles found!</div>
  </div>
  <div *ngIf="data" class="pagination">
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let page of pagination; let i = index"
        [ngClass]="{ selected: clicked == i + 1 }"
        (click)="getNext(i + 1)"
      >
        {{ i + 1 }}
      </a>
    </mat-nav-list>
  </div>
</div>
