.comment-card {
  margin-bottom: 0;
  box-shadow: none;
  border-radius: 0;
  padding: 0.5em 0;
}

.comment-header-image {
  background-size: cover;
  background-position: center;
  position: relative;
}

.comment-header-image app-user-badge {
  position: absolute;
  top: 34px;
  left: -4px;
  width: 48px;
}

.comment-card mat-card-title {
  font-size: 14px;
  line-height: 20px;
}

.comment-card mat-card-subtitle {
  font-size: 12px;
  line-height: 16px;
}

.comment-card mat-card-content p {
  /* font-family: 'Cantarell', sans-serif; */
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  padding: 0;
  max-width: 100%;
  white-space: pre-line;
  /* height: 3.65em;
    overflow: hidden; */
}

.comment-card mat-card-actions {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  align-items: center;
}

a#profile_link {
  all: unset;
  cursor: pointer;
  width: 100%;
}

.header-text {
  width: calc(100% - 64px);
  margin-left: -8px;
}

mat-card-title,
mat-card-subtitle > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
