<mat-card *ngIf="comment" class="comment-card">
  <a href="{{ profileUrl }}" id="profile_link">
    <mat-card-header>
      <div
        style="cursor: pointer;"
        mat-card-avatar
        class="comment-header-image"
        [ngStyle]="{
          'background-image':
            'url(' +
            comment?.user?.thumb +
            '), url(../../../assets/images/user.svg)'
        }"
      ></div>
      <mat-card-title style="cursor: pointer; margin-bottom: 6px;">{{
        comment?.user?.name
      }}</mat-card-title>
      <mat-card-subtitle style="margin-bottom: 6px;">
        <p *ngIf="comment?.user?.username">@{{ comment?.user.username }}</p>
        <p *ngIf="comment?.user?.headline">{{ comment?.user.headline }}</p>
        {{ comment?.timestamp | amFromUnix | amDateFormat: "LL" }}
      </mat-card-subtitle>
    </mat-card-header>
  </a>

  <mat-card-content style="margin-bottom: 0;">
    <p>{{ comment.text }}</p>
  </mat-card-content>
  <mat-card-actions>
    <mat-card-subtitle style="margin-bottom: 0; margin-left: 8px;">
      <span> {{ count_likes }} Likes </span>
    </mat-card-subtitle>
    <button
      style="padding: 0; margin: 0;"
      appDebounceClick
      (debounceClick)="likeComment()"
      [ngStyle]="{ color: liked ? 'var(--primary-color)' : 'inherit' }"
      mat-button
    >
      <mat-icon>thumb_up_alt</mat-icon>
      <span>Like</span>
    </button>
  </mat-card-actions>
</mat-card>
