<div
  class="notification-list__container"
  infinite-scroll
  (scrolled)="nextBatch()"
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="500"
  [infiniteScrollDisabled]="infiniteDisable"
>
  <app-notification
    *ngFor="let notification of notification$ | async"
    [notification]="notification"
  ></app-notification>
</div>
<div class="loading-spinner" *ngIf="loading$ | async">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<div class="load__btn">
  <button mat-stroked-button (click)="resetInfinite()" *ngIf="infiniteDisable">
    Load More Notifications
  </button>
</div>
