.notification-list__container {
  min-height: calc(100vh - 60px);
  display: grid;
  width: 100%;
  place-items: center;
  place-content: center;
  grid-template-columns: 400px;
  gap: 1rem 0;
  padding: 1rem 0;
  background-color: var(--bg-grey);
}

.load__btn,
.loading-spinner {
  display: grid;
  padding: 1rem 0;
  place-items: center;
  background-color: var(--bg-grey);
}

.load__btn button {
  background-color: #1a1a96;
  color: white;
}

.notification-error {
  font-size: 1.5rem;
  color: var(--danger-color);
  /* text-shadow: 0px 1px 1px rgba(255, 1, 1, 0.22); */
}
