.notification-list__container {
  min-height: calc(100vh - 60px);
  display: grid;
  width: 100%;
  place-items: center;
  place-content: center;
  grid-template-columns: 400px;
  gap: 1rem 0;
  padding: 1rem 0;
  background-color: var(--bg-grey);
}
