<div
  class="notification-list__container"
  infinite-scroll
  (scrolled)="nextBatch()"
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="1000"
  [infiniteScrollDisabled]="infiniteDisable"
>
  <app-notification
    *ngFor="let notification of notification$ | async"
    [notification]="notification"
  >
  </app-notification>
  <div class="notification-error" *ngIf="error">
    Something went wrong!
  </div>
  <div class="notification-placeholder" *ngIf="isEmpty">
    Your notifications appear here.
  </div>
  <div class="notification-complete" *ngIf="isComplete">
    <b>You're all caught up!</b>
  </div>
  <div class="loading-spinner" *ngIf="loading$ | async">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</div>

<div class="load__btn">
  <button
    mat-stroked-button
    (click)="resetInfinite()"
    *ngIf="infiniteDisable && !isEmpty && !isComplete"
  >
    Load More Notifications
  </button>
</div>
