.resource-body__container {
  display: grid;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: white;
  padding-left: 1rem;
}

.resource-body__owner,
.resource-body__subject,
.resource-body__exam,
.resource-body__fees {
  font-size: 0.8rem;
}

.resource-body__name {
  font-weight: bold;
}

.resource-body__owner span,
.resource-body__subject span,
.resource-body__exam span {
  color: var(--primary-color);
}

.resource-body__fees {
  color: var(--danger-color);
}
