:host {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 1em;
}

form.post-form {
  width: 100%;
}

::ng-deep mat-form-field#text .mat-form-field-wrapper {
  padding-bottom: 0;
}

#text {
  width: 100%;
}

#image {
  width: 100%;
}

.labels {
  display: flex;
  width: 50%;
  margin: 0.2em 0;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
  padding-left: 0.5em;
}

.labels label {
  display: flex;
  align-items: center;
}

.labels button {
  margin-left: auto;
}

#preview,
#preview img {
  width: 100%;
}

#preview img {
  height: 200px;
  object-fit: contain;
}

button#submit:enabled,
button#submit:disabled {
  width: 100%;
}

button#submit:enabled {
  background-color: var(--primary-color);
  color: white;
  float: right;
}

button#submit:disabled {
  float: right;
}
