<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Write Post
    </mat-panel-title>
    <mat-panel-description>
      Post
      <mat-icon>account_circle</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form class="example-form">
    <mat-form-field>
      <textarea
        matInput
        placeholder="Grow your knowledge by sharing photo, text, or file. Don't post any political or unparliamentary content."
      ></textarea>
    </mat-form-field>
  </form>
</mat-expansion-panel>
