:host {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 1em;
}

form.post-form {
  width: 100%;
}

::ng-deep mat-form-field#text .mat-form-field-wrapper {
  padding-bottom: 0;
}

#text {
  width: 100%;
}

#image {
  width: 100%;
}

.labels__container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0.2em;
}

.labels {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  /* margin: 0.2em 0; */
  cursor: pointer;
  /* border: 1px solid black; */
  border-radius: 50%;
  /* padding-left: 0.5em; */
  color: white;
  background-color: var(--primary-color);
  margin-right: 0.5em;
}

.labels label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.labels button {
  margin-left: auto;
}

#preview {
  display: grid;
  grid-gap: 1em;
  margin-top: 1em;
}

#preview,
#preview img {
  width: 100%;
}

#preview img {
  height: 200px;
  object-fit: contain;
}

#preview button {
  width: 80px;
  justify-self: center;
}

button#submit:enabled,
button#submit:disabled {
  margin-left: auto;
}

button#submit:enabled {
  background-color: var(--primary-color);
  color: white;
  float: right;
}

progress::-webkit-progress-inner-value {
  transition: width 0.1s ease;
}
