<form [formGroup]="postForm" class="post-form">
  <mat-form-field id="text" appearance="outline">
    <textarea
      matInput
      maxlength="5000"
      formControlName="text"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      cdkAutosizeMaxRows="10"
      placeholder="Write Post"
      required
      #text
    ></textarea>
    <small class="text-counter"
      ><code>{{ text.value.length }}</code> of <code>5000</code></small
    >
  </mat-form-field>
</form>
