<form [formGroup]="postForm" class="post-form">
  <mat-form-field id="text" appearance="outline">
    <textarea
      matInput
      maxlength="5000"
      formControlName="text"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      cdkAutosizeMaxRows="10"
      placeholder="Write Post"
      required
      #text
    ></textarea>
    <small style="float: right" class="text-counter"
      ><code>{{ text.value.length }}</code> of <code>5000</code></small
    >
  </mat-form-field>
  <input type="file" name="image" id="image" *ngIf="imageBtnClicked" />
  <button
    type="button"
    mat-icon-button
    (click)="imageBtnClicked = !imageBtnClicked"
    *ngIf="!pdfBtnClicked"
  >
    <mat-icon>add_photo_alternate</mat-icon>
  </button>
  <button
    type="button"
    mat-icon-button
    (click)="pdfBtnClicked = !pdfBtnClicked"
    *ngIf="!imageBtnClicked"
  >
    <mat-icon>picture_as_pdf</mat-icon>
  </button>
</form>
