:host {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 1em;
}

form.post-form {
  width: 100%;
}

::ng-deep mat-form-field#text .mat-form-field-wrapper {
  padding-bottom: 0;
}

#text {
  width: 100%;
}

#image {
  width: 100%;
}

#preview,
#preview img {
  width: 100%;
}

button#submit:enabled {
  background-color: var(--primary-color);
  color: white;
  float: right;
}

button#submit:disabled {
  float: right;
}
