<header>
  <div class="bg-image"></div>
  <p class="heading">
    Join us in making India 100% literate
  </p>
  <p class="subheading">
    Bring positive change with your work
  </p>
</header>
<div class="declaration">
  <p>
    Kriger Campus supports Equal Employment Opportunity to all.
  </p>
  <p>
    We do not discriminate based upon race, religion, colour, national origin,
    sex, sexual orientation, gender identity, gender expression, age, or
    disability.
  </p>
</div>

<div class="openings">
  <h2>Current Openings</h2>
  <!-- <div class="declaration"></div> -->
  <div class="container technical">
    <p class="header">Technical</p>
    <div class="role">
      <p class="title">Android Developer</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="/careers/android-developer"
        [routerLink]="['/careers/android-developer']"
        >Apply</a
      >
    </div>
    <div class="role">
      <p class="title">Website Developer</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="/careers/website-developer"
        [routerLink]="['/careers/website-developer']"
        >Apply</a
      >
    </div>
    <!-- <div class="role">
      <p class="title">iOS Developer</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="https://forms.gle/PSFhTcfq8bGHdLiz8"
        target="_blank"
        >Apply</a
      >
    </div> -->
    <!-- <div class="role">
      <p class="title">Product Manager</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="https://forms.gle/PSFhTcfq8bGHdLiz8"
        target="_blank"
        >Apply</a
      >
    </div> -->
  </div>
  <!-- <div class="container design">
    <p class="header">Design</p>
    <div class="role">
      <p class="title">UI/UX Designer</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="https://forms.gle/PSFhTcfq8bGHdLiz8"
        target="_blank"
        >Apply</a
      >
    </div>
  </div> -->
  <div class="container content">
    <p class="header">Content</p>
    <!-- <div class="role">
      <p class="title">Social Media Manager</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="https://forms.gle/PSFhTcfq8bGHdLiz8"
        target="_blank"
        >Apply</a
      >
    </div> -->
    <!-- <div class="role">
      <p class="title">Content Editor</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="https://forms.gle/PSFhTcfq8bGHdLiz8"
        target="_blank"
        >Apply</a
      >
    </div> -->
    <div class="role">
      <p class="title">Content Moderator</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="/careers/content-moderator"
        [routerLink]="['/careers/content-moderator']"
        >Apply</a
      >
    </div>
  </div>
  <div class="container supply">
    <p class="header">Supply</p>
    <div class="role">
      <p class="title">Business Development Executive</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="/careers/business-development-executive"
        [routerLink]="['/careers/business-development-executive']"
        >Apply</a
      >
    </div>
  </div>
  <div class="container demand">
    <p class="header">Demand</p>
    <div class="role">
      <p class="title">Demand Executive</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="/careers/demand-executive"
        [routerLink]="['/careers/demand-executive']"
        >Apply</a
      >
    </div>
  </div>
  <!-- <div class="container sales">
    <p class="header">International Sales</p>
    <div class="role">
      <p class="title">International Sales Executive</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="https://forms.gle/PSFhTcfq8bGHdLiz8"
        target="_blank"
        >Apply</a
      >
    </div>
    <div class="role">
      <p class="title">International Sales Manager</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="https://forms.gle/PSFhTcfq8bGHdLiz8"
        target="_blank"
        >Apply</a
      >
    </div>
  </div> -->
  <!-- <div class="container legal">
    <p class="header">Legal</p>
    <div class="role">
      <p class="title">Policy Manager</p>
      <p>Full-Time</p>
      <p>New Delhi</p>
      <a
        class="apply"
        mat-stroked-button
        href="https://forms.gle/PSFhTcfq8bGHdLiz8"
        target="_blank"
        >Apply</a
      >
    </div>
  </div> -->
</div>

<app-footer-new class="footer_grey"></app-footer-new>
